[2012-11-24 09:27] cdrfun opened #35 "DNS Module doen't allow IPv6 entries"
When you try to enter IPv6 IPs in the DNS Module it tells you:
Invalid value for IP Address: <whatever IPv6>

[2012-11-26 10:05] #35 closed, assigned to nobody

[2012-12-04 22:48] altmas5 opened #63 "Do not allow blank characters in ipsec connection name"
IPSec was not starting in a fresh installation of version 3.0 amd64 because the conn name included a white space wich was recognized as an error in the conf file.
This should be validated in the web form

[2012-12-05 10:27] #63 closed, assigned to nobody

[2012-12-13 13:03] Diftraku opened #79 "Invalid HTTP referer on Google Chrome 24.0.1312.40 beta-m"
When trying to use the Dashboard on latest beta version of Google Chrome, invalid HTTP referer errors pop up through out the dashboard.

The problem is that, Chrome sends the referer _without_ the trailing slash and this fails the referer check.

You can easily fix this by changing regexp in line 718 and 719 of Base.pm (https://github.com/Zentyal/zentyal/blob/master/main/core/src/EBox/CGI/Base.pm#

[2013-03-21 15:45] JosefJezek opened #241 "Dont run hook openvpn.postsetconf"
This hook can not write changes to file vpn.conf. Zentyal.log is ok.

[2013-03-26 07:31] #241 closed, assigned to nobody

[2013-05-10 23:34] niladam opened #348 "Typo in DNS.pm"
Hello,

I just wanted to report this typo:

DNS.pm:889 EBox::DNS::_reverseData - Inconsistent DNS configuration deteceted

the text should be DETECTED :)

[2013-05-11 10:24] #348 closed, assigned to nobody

[2013-09-04 13:36] mat18 opened #587 "Proxy not working well with Zentyal Beta 3.2"
Hi,

I am seeing issues in regard to the Proxy module. I have different time schedules for different groups which in turn have different policies (for testing only). I have the below scenario:

07:00 - 12:00, Monday to Friday - applying strict filter for the morning group
12:01 - 14:00, Monday to Friday - applying break filter for the break group
14:01 - 18:00, Monday to Friday - applying strict f

[2013-11-04 14:52] billfarrow opened #748 "RAID.pm does not handle some mdstat cases"
The zentyal.log has this message repeated many times:

[code]

Looking at mdstat

[code]

I think the problem is the regex in RAID.pm is not handling the "(auto-read-only)" part of the mdstat output. I'm not sure if I will be able to repeat this because I am going to force the RAID array to resync which will change the mdstat output.

[2013-12-09 14:10] #748 closed, assigned to nobody

[2013-12-19 15:33] mokkin opened #856 "3.3 duplicity error"
Trying includ or exclude a path to duplicity via webinterface fails.
zentyal.log:
![bildschirmfoto](https://f.cloud.github.com/assets/2938748/1783416/f1648d98-68c2-11e3-90c0-6042ec39c673.png)

[code]

Zentyal 3.3 on Ubuntu 12.04 x64
Firefox 26.0 on Korora 19 x 64

EDIT: seems to work since upgrading to 3.3.2

[2013-12-19 15:40] mokkin opened #857 "[enhancement] general exclusion problem in duplicity since 3.2"
Since 3.2 by default everything seems to be excluded in duplicity and you need to include paths manually like it says here:
http://doc.zentyal.org/3.2/en/backup.html#configuration-of-the-directories-and-files-that-are-saved
This has caused a big data loss (especially mails) in my backups since I upgraded to 3.2 in October. Please come back to the old exclusion rules like in 2.0 or 3.0 and don't ov

[2013-12-19 15:50] #79 closed, assigned to nobody

[2013-12-19 15:50] #587 closed, assigned to nobody

[2013-12-19 15:51] #856 closed, assigned to nobody

[2013-12-19 15:51] #857 closed, assigned to nobody

[2018-06-12 07:50] GreatBahram opened #1810 "Application Fitler or Network Traffic Classification"
Hi fellows
Have you used any software on your firewall in order to accomplish application fitter or DPI stuff? Something like `ndpi-netfilter` or `OpenAppID`?

[2018-06-18 08:06] zentyal-bug-auto opened #1811 "test"
test

[2018-06-18 08:08] #1811 closed

[2018-06-18 14:36] caguiar opened #1812 "manage-logs from hourly cron script returns error"
Running Zentyal 5.1.1

After I upgraded Antivirus  component, I get an error on every run of the cron job, every hour.

/etc/cron.hourly/90zentyal-manage-logs:
Can't locate object method "throw" via package "Can't locate object method "tableInfo" via package "EBox::AntiVirus" at /usr/share/perl5/EBox/Logs.pm line 321.
" (perhaps you forgot to load "Can't locate object method "tableInfo" via packag

[2018-07-09 09:43] mmram opened #1813 "Wrong group entry in .conf when adding "All domain users" ACL for file-share"
Version 5.1.1
When adding an ACL for a share for the predefined group "All domain users" the entry in /etc/samba/shares.conf is not @"Domain Users" but instead @"All domain users" or whatever the translated name is in the language selected in frontend (e.g. @"Alle Domänen-Benutzer" in german). This leads to a non-working ACL and non-accessible share because of the non-existing translated group.

E

[2018-07-17 06:13] retrofreak83 opened #1814 "Dynamic DNS not working"
I am running Zentyal 5.1 and Dynamic DNS updates do not work, as exemplified here:
`Dec 16 21:24:32 MyHostName samba[2707]: [2017/12/16 21:24:32.208146,  0] ../lib/util/util_runcmd.c:316(samba_runcmd_io_handler)
Dec 16 21:24:32 MyHostName samba[2707]:   /usr/sbin/samba_kcc: ldb_wrap open of secrets.ldb
Dec 16 21:24:38 MyHostName named[2107]: samba_dlz: starting transaction on zone MY-DOMAIN.local

[2018-07-27 08:36] mrPsycho opened #1815 "Problems with file sharing... where names got?"
Today i found very strange situation:

[code]

where is username? why it shows only UID?

[2018-07-27 09:21] mrPsycho commented on #1815
in the logs of `samba-ac-dc` foud, that it is looking user directories in  `/var/lib/samba/usershares`.

so, i did  `ln -s /home /var/lib/samba/usershares` and fixed my problem.

but why?

[2018-07-27 09:21] #1815 closed

[2018-08-08 11:39] doudz commented on #1813
I just migrate to 5.1 this morning and I have the same problem.
For me it's not translated in french, it's @"All domain users" instead of @"Domain users"
Replacing entries in /etc/samba/shares.conf is a workaround but it's a bit annoying since changes are overwritten by zentyal when zentyal restart the share service

[2018-08-08 12:01] doudz commented on #1813
I create a PR to fix the problem
https://github.com/zentyal/zentyal/pull/1816

[2018-08-08 14:10] mrPsycho opened #1817 "Error with keytab"
Hello,
i'm getting this error after upgrading from 5.0 to 5.1:

[code]

why?
how to fix this `keytab`?

[2018-09-04 23:17] hermanocorreia opened #1818 "Error creating new users or changing shares"
root command set -e mkdir -p '/home/samba/profiles/hermano' chown -R 2540:2513 '/home/samba/profiles/hermano' chmod 0700 '/home/samba/profiles/hermano' setfacl -b '/home/samba/profiles/hermano' setfacl -R -m u:root:rwx,g::---,g:2513:---,u:'hermano':rwx '/home/samba/profiles/hermano' setfacl -R -m d:u:root:rwx,d:g::---,d:g:2513:---,d:u:'hermano':rwx '/home/samba/profiles/hermano' failed. Error outp

[2018-09-06 16:56] kerk12 opened #1819 "Error while updating/restarting DNS."
I tried to add a new hostname, along with its IP address yesterday, and a failure message popped up.
Error log in `/var/log/zentyal/zentyal.log`:
[code]
Output of the failed command, with -dD arguments added:
[code]
Syslog output:
[code]

[2018-09-12 07:45] doudz opened #1820 "Zentyal 5.1 : DHCP marked as stopped but really is running"
On dashboard, DHCP service is marked as stopped but really it's running
![image](https://user-images.githubusercontent.com/1262548/45409808-7e846b80-b670-11e8-95a4-62a3b6a0e71c.png)

[code]

[2018-09-16 04:11] Neustradamus commented on #1813
@jacalvo soon?

[2018-09-19 22:40] Neustradamus commented on #1813
https://github.com/zentyal/zentyal/commit/9142b2fcc520f471680e0dcac23e60d8c7cb450f

[2018-09-19 22:41] Neustradamus commented on #1820
@jacalvo have you seen?

[2018-09-20 04:54] jacalvo commented on #1813
thanks for the PR @doudz, but next time please use master as base branch

closing this as fix is commited

[2018-09-20 04:54] #1813 closed

[2018-09-20 18:47] tjspann opened #1821 "OpenVPN - Change default cipher"
![screenshot 24](https://user-images.githubusercontent.com/8395104/45840054-934da880-bcdb-11e8-9e1f-34d672412ff0.png)

If possible I'd like to request the default cipher be changed from BF-CBC to at least AES-128-CBC.

[2018-09-26 23:59] unquietwiki opened #1822 "Please revert #127 and re-enable IPv6"
I'd like to have #127 reversed for version 6.0. Per [this thread](https://forum.zentyal.org/index.php/topic,27316.0.html); the [Samba4 bug causing problems](https://bugzilla.samba.org/show_bug.cgi?id=10464) being fixed 4 years ago; BIND & NSD support going back years; and how I was able to use IPv6 with Windows AD 10 years ago; it should be fine to reactivate again. The web interface for DNS entri

[2018-09-27 13:41] mrPsycho opened #1823 "Is there any roadmap?"
Hello,

nobody can see any visible progress on Development.
I know, that on free version there is no warranties and guaranties... but... is there any roadmap?

there are a lot of bugs in current version.
and no support at all, so the only one way is to go to nethserver, as the closest solution with same features.

and i want to know - is there any plans to upgrade zentyal?

[2018-09-27 19:11] unquietwiki commented on #1822
Some additional info on this...

*. Revoking the ipv6 disabling statements in **sysctl.conf** does allow the system to get IPv6 addresses.
*. The system does appear to register at least its own SLAAC/DHCPv6-assigned address to DNS.
*. Editing **/etc/cloud/cloud.cfg.d/50-curtin-networking.cfg** & **/etc/netplan/50-cloud-init.yaml** appear to persist static IPv4 & IPv6 addresses. Side note, that see

[2018-09-28 02:10] unquietwiki opened #1824 "Feature Request: be able to select remote database servers"
_Current setup: Ubuntu 18.04.1, running Zentyal 6.0-pre_

I've got a separate VM for database purposes going on the system I run Zentyal on. It'd be nice to be able to use the Redis on it, and to move MySQL over to it (and or convert to using PostgreSQL).

- **/usr/share/zentyal** contains the scripts relevant for this.
- **/etc/zentyal/core.conf** appears to determine the port number for the loca

[2018-09-28 02:20] unquietwiki opened #1825 "Feature Request: migration from MySQL 5.x to MariaDB 10.x or PostgreSQL 10.x"
Oracle likes to be funny with their software licensing; and I've seen a recent use case for PostgreSQL in saving [IP address data](https://github.com/digitalocean/netbox/). A migration to MariaDB 10.x, or PostgreSQL 10.x; should be considered.

- https://mariadb.com/kb/en/library/upgrading-from-mysql-57-to-mariadb-102/ -> the few reported limitations of going from MySQL 5.7 to MariaDB 10.2
- https

[2018-09-28 13:04] Neustradamus commented on #1822
It will be nice to have an option to enable ipv4 and/or ipv6 in panel.

[2018-09-28 13:04] Neustradamus commented on #1823
+1

[2018-09-28 13:15] Neustradamus commented on #1821
https://community.qualys.com/docs/DOC-6321-ssl-labs-grading-2018

[2018-10-04 20:43] mkbrown commented on #1814
Ditto. Ubuntu 16.04, Zentyal 5.1.

[2018-10-06 11:15] ivosm commented on #1823
I use Zentyal for years and I like it but when I wanted, as other did, to help by reporting some bugs like totally broken networking after use of some bundle configuration but one day all the reported bugs were "solved" by switching off the old bug management server and starting to use the "Issues" here with no bugs there. This is for me much worse than missing roadmap.
I understand, that Zentyal

[2018-10-26 00:41] unquietwiki opened #1828 "Source issue: conflicting sogo files"
- https://github.com/zentyal/zentyal/blob/master/main/sogo/stubs/sogo.conf.mas
- https://github.com/zentyal/zentyal/blob/master/main/sogo/stubs/SOGo.conf.mas

These files cancel each other out on Windows for editing, and appear to conflict with each other in content. It's preventing git rebase, and most likely a deployment problem waiting to happen. Help! Thanks.

[2018-10-26 04:30] #1828 closed

[2018-10-28 14:13] jacalvo commented on #1820
Can't reproduce this, please provide the detailed steps you follow to reach that situation, ideally from a fresh install. Thanks!

[2018-10-29 01:44] #1821 closed

[2018-10-29 10:12] jacalvo commented on #1820
Could you check the output of the following comamnds?

`systemctl status isc-dhcp-server`
`systemctl status tftpd-hpa`

Both daemons are checked to show the status in the dashboard, so maybe is tftpd-hpa the stopped one?

[2018-10-29 10:35] doudz commented on #1820
[code]
[code]

[2018-10-29 10:51] doudz commented on #1820
I tried `sudo systemctl restart tftpd-hpa.service`
and now everything's fine but it's strange...
![image](https://user-images.githubusercontent.com/1262548/47645245-ae2ffa00-db70-11e8-8f81-650ea7e4baa5.png)

[2018-10-30 06:34] retrofreak83 commented on #1814
Thanks for you answer. The solution provided there consists of manually patching two Zentyal modules of which the authors state that these are "a bit of a hack and is likely to be overwritten by Zentyal at some point." and "a quick dirty patch". That is why I'm hesitating to apply this.

[2018-10-30 10:17] jacalvo commented on #1814
Yes, that's why I'm keeping the issue open, because that's something that definitely needs to be integrated in Zentyal so no "dirty patch" is needed (but at the moment this is not straightforward to integrate, because that patch would require to have zentyal-samba as mandatory dependency of zentyal-dhcp, to start with). Pull requests are welcome BTW :)

[2018-10-30 10:20] jacalvo commented on #1820
Ok, I'm going to close this, please don't hesitate to open a new one if you still can provide steps on how to reproduce this on the newly released Zentyal 6.0.

[2018-10-30 10:20] #1820 closed

[2018-10-30 10:21] jacalvo commented on #1812
This should be fixed now in Zentyal 6.0, which comes with several improvements in zentyal-antivirus.

[2018-10-30 10:21] #1812 closed

[2018-10-30 10:57] jacalvo commented on #1823
Zentyal 6.0 based on Ubuntu 18.04 has been released :)

[2018-10-30 10:57] #1823 closed

[2018-10-31 05:53] yxmline opened #1832 "debian.cnf missing on ubuntu 18.04"
debian.cnf missing on ubuntu 18.04

sudo apt-get install zentyal zentyal-core zentyal-software

mysql: [ERROR] Could not open required defaults file: /etc/mysql/debian.cnf
mysql: [ERROR] Fatal error in defaults handling. Program aborted!
Creating the zentyal database
mysql: [ERROR] Could not open required defaults file: /etc/mysql/debian.cnf
mysql: [ERROR] Fatal error in defaults handling. Program

[2018-11-01 08:12] jacalvo commented on #1832
How did you install that Ubuntu 18.04? That file is present in our installations...

[2018-11-01 12:08] yxmline commented on #1832
https://wiki.zentyal.org/wiki/Installation_Guide
`curl download.zentyal.com/install | sudo sh`

[2018-11-04 19:50] Neustradamus opened #1833 "Bug #5281: Problem with ejabberd (XMPP) to enable vhost etc"
-> https://tracker.zentyal.org/issues/5281

[2018-11-04 19:50] Neustradamus opened #1834 "Bug #5291: XMPP ports"
-> https://tracker.zentyal.org/issues/5291

[2018-11-04 19:52] Neustradamus opened #1835 "Bug #5295: Problem with ejabberd (XMPP) when the hostname is changed"
-> https://tracker.zentyal.org/issues/5295

[2018-11-04 19:53] Neustradamus commented on #1828
It was https://tracker.zentyal.org/issues/5237

[2018-11-05 03:42] Neustradamus opened #1836 "Let’s Encrypt support"
Can you add the Let’s Encrypt support?

http://letsencrypt.org/

[2018-11-05 14:55] ringe opened #1837 "Missing Dynamic RPC Ports in Firewall rules"
I couldn't get why the new Windows 10 client had timeout on the user profiles (according to the windows event log). Also, the domain logon took forever.

So I opened the firewall for all traffic from the internal network, and no issues.

Then I found this page:
https://wiki.samba.org/index.php/Samba_AD_DC_Port_Usage

And I added the Dynamic RPC Ports range to the Samba service definition in the ne

[2018-11-05 22:36] Neustradamus opened #1838 "Hostname changed from webadmin: problem, logs"
In box:
* ... /var/log/zentyal/
* The following modules failed while saving their changes, their state is unknown: dns mailfilter

[code]

[2018-11-06 12:48] ringe commented on #1837
Also, I had to add port 901 to the Samba service, in order to get GPO updates working.

[2018-11-06 18:04] Neustradamus opened #1839 "freeradius.pem problem"
* /etc/freeradius/3.0/certs/freeradius.pem
* /etc/freeradius/3.0/certsfreeradius.pem

There is a missing "/".

[2018-11-07 01:35] Neustradamus opened #1840 "Apache2 SOGo.conf problem"
There are 2 configuration files:
* /etc/apache2/conf.d/SOGo.conf
* /etc/apache2/conf-available/SOGo.conf (+ /etc/apache2/conf-enabled/SOGo.conf of course)

[2018-11-07 16:04] MichaelJAllen opened #1841 "Version 6 packaging issues"
I noticed the (under-promoted) [announcement about Zentyal 6.0](http://www.zentyal.org/2018/10/zentyal-server-6-0-major-new-version-release-now-available/) a few days ago, and set up a machine to check it out.

The `zentyal` package installs just fine, but a number of other packages have problems:

[code]

Here's some additional debug relating to these unmet dependencies:

[code]

[2018-11-07 17:37] MichaelJAllen commented on #1841
BTW, if I install `zentyal-all`, the installation proceeds just fine.

[2018-11-07 20:36] Neustradamus commented on #1840
In the same time update the source file with the last version: https://github.com/inverse-inc/sogo/blob/master/Apache/SOGo.conf in https://github.com/zentyal/zentyal/blob/master/main/sogo/stubs/SOGo.conf-apache.mas

[2018-11-08 16:29] #1839 closed

[2018-11-08 16:38] jacalvo commented on #1841
zentyal-network package conflicts with netplan.io, and it seems this apt pkgProblemSolver refuses to delete it, so the solution is either you do an apt remove netplan.io by yourself before installing zentyal-network, or just install using the Zentyal ISO or installation script (https://wiki.zentyal.org/wiki/Installation_Guide), both methods will take care of removing netplan before installing.

[2018-11-08 16:38] #1841 closed

[2018-11-10 08:44] jacalvo commented on #1840
/etc/apache2/conf.d/SOGo.conf is installed by the sogo package, not by zentyal-sogo, you can safely remove it as conf.d/* is not included (only conf-enabled/*).

About the proposed changes in SOGo.conf-apache.mas, if you think there is anything to be fixed or improved, and it doesn't break anything, please open a pull request with them and they will be reviewed before merged.

[2018-11-10 08:44] #1840 closed

[2018-11-10 12:38] #1837 closed

[2018-11-15 00:13] Neustradamus commented on #1837
@jacalvo: and the 901 port?
https://www.samba.org/samba/docs/old/Samba3-HOWTO/SWAT.html

[2018-11-19 12:34] mrPsycho commented on #1817
problem persists on 6.0:

[code]

can't update any configuration from GUI, can't add new PC's to AD.

[2018-11-19 16:16] Neustradamus commented on #1819
Same with 6.0?

[2018-11-19 16:45] Neustradamus commented on #1817
@jacalvo ^^

[2018-11-20 13:29] KOV70 opened #1842 "Ejabber and shared_roster"
In Zen5 don`t work shared_roster. After upgarde to zen6 nothing changed. Pidgin does not show groups and users.

In log: ejabber restarted, then 2 users connect (karov and cheos, group IT).

[ejabberd.log](https://github.com/zentyal/zentyal/files/2599891/ejabberd.log)

Can any other data help to solve the problem?

[2018-11-20 13:41] neovs opened #1843 "Error updating 5.1.2 to 6 samba dependency."
When upgrading, I get an error from the package (- configure):
 problems of dependencies - we leave not configured.
Attempting to reinstall gives the same error.

sudo dpkg --configure -a
The samba package is configured (2: 4.7.6 + dfsg ~ ubuntu-0ubuntu2.2) ...
initctl: Unable to connect to Upstart: Failed to connect to socket / com / ubuntu / upstart: Connection refused
insserv: warning: script '

[2018-11-20 14:20] anselal opened #1844 "Restore settings form older versions"
Hi there,

I am running a very old version of Zentyal, I think it is 2.2.1 because it is based on Ubuntu 10.

I did a backup of the configuration and tried to restore it on a VM running Zentyal 6 (development) but it failed with an error that the versions do not match.

Is there an easy way to do the upgrade ?

[2018-11-20 15:54] Neustradamus commented on #1842
What is your ejabberd version?

[2018-11-20 16:04] Neustradamus commented on #1844
I know this wiki page but...
https://wiki.zentyal.org/wiki/Updating_your_Zentyal_Server

[2018-11-20 16:39] KOV70 commented on #1842
Weird question. In version 6 of zentiyal, version 18 of jabber, [https://github.com/zentyal/zentyal/blob/master/main/jabber/ChangeLog](url)

[2018-11-20 17:52] anselal commented on #1844
Unfortunately this does not work for me.

I better kill myself than upgrading from ubuntu 10 all tje way up to 18.

[2018-11-21 12:51] neovs commented on #1843
Updated zentyla to 5.13 error remained.

root @ dc1: / home / administrator # sudo dpkg --configure -a
The samba package is configured (2: 4.7.6 + dfsg ~ ubuntu-0ubuntu2.4) ...
initctl: Unable to connect to Upstart: Failed to connect to socket / com / ubuntu / u pstart: Connection refused
insserv: warning: script 'lxdm' missing LSB tags and overrides
insserv: Default-Start undefined, assuming empt

[2018-11-22 08:23] stefanmikroe opened #1845 "Additional domain controller failed to join domain"
Hi guys,

I have installed two Zentyal 6.0 servers, one as PDC and the second one as ADC. In first one, PDC, I created a domain. When I try to join the domain from ADC to PDC, i'm getting the samba error.
You can see piece of a zentyal.log:

---------------
 GENSEC backend 'krb5' registered
 GENSEC backend 'fake_gssapi_krb5' registered
 Cannot do GSSAPI to an IP address
---------------
tdb(/var/li

[2018-11-23 02:49] loxK commented on #1843
I have the save issue should have looked at bugs before upgrading ...

[2018-11-23 04:03] loxK commented on #1843
I disabled the smbd service and could go sudo dpkg --configure -a

[2018-11-24 14:27] userdevel opened #1846 "[Forum] Need SMF update and spams removal"
Like there is here: https://forum.zentyal.org/index.php/topic,32404.msg109277.html#msg109277

Can you update the Simple Machines Forum (SMF) from 2.0.5 to 2.0.15?

"It is possible to update SMF for block spams etc?

SMF 2.0.15 Released
Mon, 20 Nov 2017 00:47:44 GMT
http://www.simplemachines.org/

Thanks in advance."

[2018-11-26 08:49] doricece opened #1847 "Zentyal 6 email blocking"
i have upgraded my Zentyal  5.1 to Zentyal 6 but every time i enable IDS/IPS module i have problems sending emails.
what i see in the mail log is:
"Host or domain name not found. Name service error for name=xxxx.com type=MX: Host not found, try again"

As soon as i disable IDs from the external interface the problem disappears

[2018-11-26 15:50] Giflop opened #1848 "USB WiFi Ralink MT7601U Does not work but sees WiFi networks (Resolved)"
Здравствуйте формучане!
Решил на Zentyal развернуть контроль домена совместно с прокси сервером.
Организовать работу входящего потока с помощью сетевого устройства TP-Link TL-WN727N (Ralink MT7601U), а выходящая линия на встроенной (PCI) сетевой карты, штатная в общем. Но карта внешняя не подключается к сетям WiFi но их видит. Устанавливал ("собирал" для модуля драйвер Ralink MT7601U) в итоге без

[2018-11-26 16:33] tjspann commented on #1845
I also had this issue, though for what it's worth I'm setting mine up with ADC over OpenVPN if that helps at all.

[2018-11-28 08:26] mrPsycho opened #1849 "samba stopped and can't start anymore"
[code]

i thought problem is `samba_dlz: spnego update failed`
and found that: https://lists.samba.org/archive/samba/2017-December/212948.html
it doesn't help:
[code]

and it sucks, cause now NOBODY can login everywhere!  :(

[2018-11-28 11:33] mrPsycho commented on #1849
is there any way to re-init `domain controller`, with all users and shares in it?

passwords could be restored by users (i use https://ltb-project.org/documentation/self-service-password and it is very helpful to restore by email link.), it ok to forget all connected workstations...

[2018-11-28 11:57] mrPsycho commented on #1849
zentyal.log:

[code]

[2018-11-28 19:45] #1847 closed

[2018-11-28 20:21] mrPsycho commented on #1849
hm.... why running `/usr/sbin/samba --foreground --debug-stderr --no-process-group` doesn't fail and allows to use samba?

[2018-11-28 20:36] mrPsycho commented on #1849
ok. i don't know why, but stopping `winbind` and `nmbd` allowed me to start `samba-ad-dc`.

i won't close it, cause want to hear comment from professional!

[2018-11-28 20:42] mrPsycho commented on #1849
problem still persist:
[code]

[2018-11-28 21:28] mrPsycho opened #1850 "interpret_interface: Can't find address for eth1 in samba.log"
This error happens if server has 2 network interfaces, but configured only one, because samba.conf has next line:
[code]

so, if configured only one network card, ie eth0, samba can't find eth1 and log about it.

[2018-11-28 23:18] #1848 closed

[2018-11-29 00:12] jacalvo commented on #1819
we can't reproduce this, please reopen if you can provide detailed steps on how to do it from a fresh install of Zentyal 6.0

[2018-11-29 00:12] #1819 closed

[2018-11-29 00:30] #1850 closed

[2018-12-03 04:43] Neustradamus opened #1851 "HTTP Proxy disabled: logrotate error"
HTTP Proxy disabled:

[2018-12-03 10:23] jacalvo commented on #1844
Please note that upgrading from Zentyal 2.2 to the latest version is not a simple process: the base distribution has changed four times (from Ubuntu Server 10.04 to Ubuntu Server 18.04), the directory service has changed from LDAP to Samba, etc.

Depending on your scenario, you could try phased migration (from 2.2 to 3.0, from 3.0 to 3.2, from 3.2 to 4.0, etc.), clean install with (partial) data m

[2018-12-03 10:23] #1844 closed

[2018-12-03 11:51] jacalvo commented on #1846
Please note that as GitHub is aimed exclusively for reporting Zentyal Server-related bugs or creating pull requests, this ticket will be closed as irrelevant. If you have any questions, doubts or suggestions, you can use other available community channels or contact us via http://www.zentyal.com/about-us/contact-us/

[2018-12-03 11:51] #1846 closed

[2018-12-03 11:55] jacalvo commented on #1833
Please note that if you continue hitting this issue in the 6.0 version, you should provide all the necessary information that will help us to reproduce it in this ticket. If you fail to do so, we will close the ticket.

[2018-12-03 11:55] jacalvo commented on #1834
Please note that if you continue hitting this issue in the 6.0 version, you should provide all the necessary information that will help us to reproduce it in this ticket. If you fail to do so, we will close the ticket.

[2018-12-03 11:56] jacalvo commented on #1835
Please note that if you continue hitting this issue in the 6.0 version, you should provide all the necessary information that will help us to reproduce it in this ticket. If you fail to do so, we will close the ticket.

[2018-12-06 11:12] mrPsycho opened #1852 "is there any way to export all users from DC to csv?"
hello.

to workaroud all my tikets (#1849, #1817) - i'm going to reinstall domain controller from scratch.

to do so i need export all users in domain. Preferably, with their passwords.

Is there any solution?

[2018-12-06 12:15] mrPsycho opened #1853 "How to add bridget network interface to virtual machine?"
Hello,

OS Zentyal 6.0.1

i've created bridge `br1` with main `eth0`.
and want to use it with virtual machines, but i can't see `br1` in the list:
![untitled](https://user-images.githubusercontent.com/883964/49583617-c9f59f80-f969-11e8-8a7d-86361aaf5614.png)

how to do it?

[2018-12-06 13:41] mrPsycho opened #1854 "virtual network interface gets always the same mac address"
I've created several network interfaces and all of them gets `00:1F:0A:F4:19:88` as MAC address

[2018-12-06 14:02] mrPsycho commented on #1853
i've found workaround: https://wiki.libvirt.org/page/Networking#Debian.2FUbuntu_Bridging

in i've edited interface section to this:
[code]
and it worked.

full steps:
[code]

but, this is sucks, that ANY changing in web UI will reset it.

[2018-12-07 10:56] Neustradamus opened #1855 "LDAP over TLS (STARTTLS) and LDAP over SSL (LDAPS)"
How we can only enable a secure LDAP?

[2018-12-07 10:57] Neustradamus opened #1856 "Webserver module comeback?"
A lot of people request the comeback of the webserver module.

[2018-12-08 11:29] Ace-COM opened #1857 "Is it possible to completely remove apache2 in favor of nginx?"
Hello guys,

I am more into nginx than apache2 and I use nginx on zentyal to access all the functionalities within and behind (proxy) Zentyal server 6. So there is a question while Zentyal have them both installed out of the box:

**Is it possible to completely remove apache2 without ruining some functionalities of Zentyal Server?**

I would really like to get rid of it because everytime I restart

[2018-12-09 21:49] gadgetusaf commented on #1843
I am also getting an error
root@domain1:/home/burton# dpkg --configure -a
Setting up samba (2:4.7.6+dfsg~ubuntu-0ubuntu2.5) ...
initctl: Unable to connect to Upstart: Failed to connect to socket /com/ubuntu/upstart: Connection refused
insserv: warning: script 'lxdm' missing LSB tags and overrides
insserv: Default-Start undefined, assuming empty start runlevel(s) for script `lxdm'
insserv: Default-

[2018-12-10 11:03] phaidros7 commented on #1843
same problem here.

root@venice:~# dpkg --configure -a
Setting up zentyal-samba (6.0.1) ...
dienst  gibt es schon.dpkg: error processing package zentyal-samba (--configure):
 installed zentyal-samba package post-installation script subprocess returned error exit status 25
Errors were encountered while processing:
 zentyal-samba

somehow the service samba or alike is already there and dpkg gets con

[2018-12-10 11:13] phaidros7 commented on #1843
/var/lib/dpkg/info/zentyal-samba.postinst is the culprit, tho I have no idea about the reasons of this postinst script

[2018-12-10 14:10] gadgetusaf commented on #1843
ommand output: .
Exit value: 1
2018/12/10 08:58:57 ERROR> Service.pm:971 EBox::Module::Service::restartService - root command systemctl start 'samba-ad-dc' failed.
Error output: Job for samba-ad-dc.service failed because a timeout was exceeded.
 See "systemctl status samba-ad-dc.service" and "journalctl -xe" for details.

Command output: .
Exit value: 1 at root command systemctl start 'samba-ad-dc

[2018-12-10 17:18] Neustradamus commented on #1855
Yes but by default: 636 instead of 389 and 3269 instead of 3268.

LDAP 389/tcp
LDAP over SSL 636/tcp
Global catalog LDAP 3268/tcp
Global catalog LDAP over SSL 3269/tcp

And disabled insecured ports.

[2018-12-11 02:21] Neustradamus commented on #1857
SOGo works with Apache 2.

[2018-12-11 12:38] Ace-COM commented on #1857
Isn't it only working as a proxy for SOGo? I am running Nginx as a proxy for SOGo and it seems to be completely fine, though I am not 100% sure it may not have some quirks I just do not see...

[2018-12-19 21:32] lostboy1 commented on #1843
I was able to get around this by using the following commands:
[code]

[2018-12-23 20:55] Neustradamus opened #1858 "[WEBSITES/forum/wiki/doc/Planet] links problems + missing https..."
The website .org/.com footer:
- Bug tracker bad link : https://tracker.zentyal.org/projects/zentyal must be https://github.com/zentyal/zentyal/issues
- Dead RSS: http://www.zentyal.com/feed/
- Twitter: https://twitter.com/#!/zentyal -> https://twitter.com/zentyal

The forum header:
- Code: https://github.com/Zentyal/zentyal ->https://github.com/zentyal/zentyal
- Tracker: http://tracker.zentyal.org

[2018-12-31 16:44] andrzejk2 commented on #1843
I have this same problem, any solutions?

`Konfigurowanie pakietu samba (2:4.7.6+dfsg~ubuntu-0ubuntu2.5) ...
initctl: Unable to connect to Upstart: Failed to connect to socket /com/ubuntu/upstart: Connection refused
insserv: warning: script 'lxdm' missing LSB tags and overrides
insserv: Default-Start undefined, assuming empty start runlevel(s) for script `lxdm'
insserv: Default-Stop  undefined, as

[2019-01-01 10:58] rashedrefaat opened #1859 "error while check "Transparent Proxy" in ver 6"
when trying to check the option "Transparent Proxy" in ver 6 i got the below error :

Can't locate object method "throw" via package "Can't call method "value" on an undefined value at /usr/share/perl5/EBox/Squid/Model/GeneralSettings.pm line 111. " (perhaps you forgot to load "Can't call method "value" on an undefined value at /usr/share/perl5/EBox/Squid/Model/GeneralSettings.pm line 111. "?) at

[2019-01-03 13:42] mrPsycho opened #1860 "update from 5.1.3 to 6 broke samba"
it doesn’t start at boot.
only way to start - manually stop ‘winbind’ and ‘nmbd’ and then start ‘samba-ad-dc’

and this was on clean system without any additional software!!! :((

[2019-01-04 20:56] mrPsycho commented on #1860
my workaround:
`
systemctl disable nmbd smb winbind
systemctl enable samba-ad-dc
`

after this samba DC starts as it should.

[2019-01-04 20:56] #1860 closed

[2019-01-05 14:14] mrPsycho commented on #1856
one of solution - is to integrate https://yunohost.org

[2019-01-05 22:41] mrPsycho opened #1861 "Can't update DNS"
log
[code]

why?
how to fix it?

[2019-01-16 13:26] lohmuller opened #1862 "Openvpn dont show vpn client/user ip in dashboard"
In the dashboard dont show the vpn client IP, only the public IP...
![Image](https://i.imgur.com/oNfPutul.png)

I think is possible change this code to show
https://github.com/zentyal/zentyal/blob/9f7bd886f04c0976a072d421ef3019df4be46ba9/main/openvpn/src/EBox/OpenVPN.pm#L1272-L1293

[2019-02-01 03:14] unquietwiki commented on #1861
@mrPsycho Looks like AppArmor may be a factor here. Try checking out https://help.ubuntu.com/lts/serverguide/apparmor.html.en for some further debugging.

[2019-02-01 03:18] unquietwiki opened #1863 "Can't install in Google Cloud; may impact other cloud hosts"
Steps to reproduce...

- Install Ubuntu 18.04 LTS via Google Cloud
- Setup necessary firewall rules to open up at least port **tcp/8443** for web browser access.
- [Run installer script](https://wiki.zentyal.org/wiki/Installation_Guide#Zentyal_Installer_script)
- Browse to web page, and tell it to use DHCP on the network interface, when asked.
- Instance will attempt to re-do networking; and fail

[2019-02-03 16:43] mrPsycho commented on #1861
@unquietwiki thanks, i disabled it.

and it doesn't help:

[code]

and this is on every dns change from web ui.

[2019-02-04 23:18] unquietwiki commented on #1861
@mrPsycho What about your Bind logs? I know Zentyal uses https://wiki.samba.org/index.php/BIND9_DLZ_DNS_Back_End

[2019-02-05 02:50] hawkeyefla commented on #1857
Either make a /etc/nginix/snippets/sogo.conf and include it in your sites-available configuration, or just add it right into your site-available.  This is what I have an webmail works flawlessly with nginx.

location	^~/SOGo	{
				proxy_pass http://127.0.0.1:20000;
				proxy_redirect http://127.0.0.1:20000 default;
# forward user's IP address
				proxy_set_header X-Real-IP $remote_addr;
				proxy_

[2019-02-14 02:32] loxK opened #1864 "6.0 - Cannot connect to shares: NT_STATUS_INTERNAL_ERROR"
I get internal server error trying to access shares. I can't figure out how to fix it .... I tried form windows too.

[code]

[code]

[2019-02-14 20:01] mmartinello opened #1865 "Can't call method "subModel" on an undefined value at /usr/share/perl5/EBox/Samba.pm line 336"
After **updating Zentyal from 5.1 to 6.0** the package **zentyal-samba** does not complete the update process due to this error:

[code]

I tried to uninstall and reinstall **zentyal-samba** but the problem is the same.
The Samba module is unusable, so this is a big problem.
I searched for this problem but I did not find anything resolutive.

Could you help me please?
Thanks!

[2019-02-14 21:36] mmartinello commented on #1865
I solved purging the package **zentyal-samba** and reinstalling it from scratch.
But after this the user and group list in the Samba module became empty, so this is not a valid resolution.

[2019-02-16 19:59] ggowins commented on #1849
I too am having this issue after upgrading to Zentyal 6.  I can manually stop and start the services.  When I check the status for the nmbd, smbd, samba, and winbind services, they all show that they are running, and I am able to use AD, but in the Zentyal dashboard it is showing Domain Controller and File Sharing Stopped.  If after getting the services manually stopped and restarted, if I run 'zs

[2019-02-17 20:21] EvilBox opened #1866 "Radius not work in fresh install"
Hello!
I  am install Zentyal 6 on Ubuntu Server 18.04 and create first AD controller. After that I set the radius server and add the client in the web UI. Radius not started! The following error in the logs:

`2019/02/17 23:15:58 INFO> Base.pm:231 EBox::Module::Base::save - Restarting service for module: radius
2019/02/17 23:15:59 ERROR> AuthKrbHelper.pm:172 EBox::Samba::AuthKrbHelper::_getTicketU

[2019-02-17 20:28] EvilBox commented on #1866
I solved problem. Cannot disable account - Administrator. This leads to the above problem. Thanks!

[2019-02-17 20:28] #1866 closed

[2019-02-18 19:14] pakair commented on #1814
Is there an update on this?

[2019-02-19 01:03] loxK commented on #1864
It is now working like magic. Nothing done, nothing changed.

It has already happened, it then randomly stop working again after a while.

[2019-02-24 02:41] ggowins commented on #1849
I might have found a fix for this issue.  I ran sudo testparm which checks samba config files.  On my system, it changed a time out in smb.conf, and I can now get samba to start with zs samba start, and it shows it is running on the dashboard.

Load smb config files from /etc/samba/smb.conf
rlimit_max: increasing rlimit_max (1024) to minimum Windows limit (16384)

[2019-02-27 13:37] MichaelTheSwGuy opened #1867 "5.1.3: link-button to issue tracker not working"
Hi,
the button on the dashboard leads to
https://github.com/zentyal/zentyal/issuesprojects/zentyal/issues/new?utm_source=zentyal&utm_medium=dashboard&utm_campaign=newticket
which should be
https://github.com/zentyal/zentyal/issues/new?utm_source=zentyal&utm_medium=dashboard&utm_campaign=newticket
The link looks right on mouseover, but somehow that extra "projects/zentyal/issues" makes it's way int

[2019-02-28 03:59] Neustradamus commented on #1867
Or only: https://github.com/zentyal/zentyal/issues/new

[2019-02-28 23:10] loxK commented on #1864
The problem is back

[2019-03-01 22:14] loxK commented on #1864
The problem is back

[2019-03-04 10:33] rmmayer commented on #1812
Still present in an Server updated from 4.2 to 5.0 to 6.0
Any hints appreciated as this comes every hour to our Inboxes.

[2019-03-04 20:01] jfaubin commented on #1814
Do you have ab ETA for the patch?

[2019-03-04 21:59] loxK commented on #1864
Still not working even after multiple reboot

[2019-03-07 08:10] brunolorente commented on #1852
Hi @mrPsycho

What Zentyal version are you using? I've been working in several perl scripts that are able to import/export users and groups from several versions (from 4.1).

Regards!

[2019-03-07 08:19] mrPsycho commented on #1852
hello!
we are using latest 6.

[2019-03-09 23:46] RemiNetEU commented on #1849
Just updated to Zentyal 6 and had same issue. After @ggowins  hint I've checked the Samba docs and found the answer [here](https://wiki.samba.org/index.php/Managing_the_Samba_AD_DC_Service_Using_Systemd)

smbd and winbind are automatically started as subprocess by samba-ad-dc and therefore should be disabled from systemd

# systemctl mask smbd nmbd winbind
# systemctl disable smbd nmbd winbind

Si

[2019-03-14 17:36] colonelpopcorn commented on #1867
This looks more like a redirect issue on the server for the zentyal project website. The link is actually [here](https://github.com/zentyal/zentyal/blob/0c45df9a1349956c6f3434f09883c3dc392bfb28/main/core/src/templates/dashboard/links-widget.mas#L29) and points to [here](https://tracker.zentyal.org/projects/zentyal/issues/new?utm_source=zentyal&utm_medium=dashboard&utm_campaign=newticket). Not sure

[2019-03-22 01:33] igorbarney commented on #1853
Hey buddy, how did you get the br1 into the web UI? I've been trying to do it but without success. I did set up my eth0 to br0 in etc/network/interfaces but nothing. After I changed the xml file Zentyal Virtual Machine manager give a error. Can you explain me a little bit more detailed. Thanks

[2019-03-22 21:29] igorbarney opened #1868 "VM bridge mode doesn't work"
I just created a VM but it works only under NAT network option. I'm trying to set bridge mode up but the bridge to drop list just shows up none. What am I doing incorrectly or is this a bug?

[2019-04-05 01:36] rootless4real opened #1869 "winbindd segfault - PANIC (pid 3500): pdb_get_methods: failed to get pdb methods for backend samba_dsdb"
An existing Zentyal 5.1.3 w/ winbindd 4.6.7 doesn't have any problems joining or acting as a DC in a   Server 2008 R2 AD environment.  However, Zentyal 6.0.1 w/ winbindd 4.7.6 always core dumps.  Very repeatable.  The options for winbindd don't have an impact.  Bringing over and trying idmpa.ldb from Z5.1.3/Samba4.6.7 doesn't help.

winbindd version 4.7.6-Ubuntu started.
Copyright Andrew Tridgell

[2019-04-10 09:51] kedarapte27 opened #1870 "DNS Update failed after adding additional domain controller"
Hi,
I create da primary domain controller using Zentyal 6.0. I was able to use it as expected. When I added one more zentyal server 6.0 as an additional domain controller got the below error. I am able to see the additional domain controller in the web console, users are getting replicated, groups etc.. everything works, but I am unable to ping the primary domain controller from the additional dom

[2019-04-15 23:38] TravisRothlisberger commented on #1865
The conditional at line 333 in Samba.pm is only used to add a service configuration for samba at TCP ports 49152 - 65535. I worked around this by temporarily modifying the conditional to if (0) { ... so that it wouldn't try and execute this. I then added the service configuration manually in the web interface. Everything seems to be OK so far.

[2019-04-24 14:03] jaganz opened #1871 "Zentyal 5.1 : Promote Additional DC as Primary result in erease all objects - How to Promote an Addition DC as Primary?"
Hi,

After a problem with our dc1 (created as primary dc) we have created a new dc called dc1new restored from another addition dc called dc2 , then we have seized all roles from dc1 to dc1new , all seems good but on dc1new web interface continue to show that dc1new is an additional domain and info is about the dc2 ...  we have some major and minor problem, major that can't backup and restore the

[2019-04-25 09:37] carlos-mora opened #1872 "FTP Module fails on install"
This problem appears when the FTP module is activated. The problem appears either in a new installation or when activated in a basic installation.
After that the web interface turns unusable, with the same error.

Error loading class: EBox::FTP error: Attempt to reload EBox/FTP.pm aborted.
Compilation failed in require at (eval 1041) line 1.
BEGIN failed--compilation aborted at (eval 1041) line 1.

[2019-04-25 17:13] rootless4real commented on #1869
Ok.  So the Zentyal 5.1.3 that was operating correctly in the domain had to be restarted.  After the restart, it is now showing similar issues:

 winbindd -i
winbindd version 4.6.7-Ubuntu started.
Copyright Andrew Tridgell and the Samba Team 1992-2017
Registered MSG_REQ_POOL_USAGE
Registered MSG_REQ_DMALLOC_MARK and LOG_CHANGED
lp_load_ex: refreshing parameters
Initialising global parameters
rlimi

[2019-04-25 17:43] rootless4real opened #1873 "Zentyal 6.0 New install initial configuration failure - 74% "Saving samba module""
A new Zentyal 6.0 install fails while doing the  initial configuration at 74% with the Current operation: "Saving samba module".

Looking at /var/log/zentyal/zentyal.log shows:
[code]

According to the software.log, things seem to go fine:
[code]
When attempting to run winbindd interactively for troubleshooting it returns:
[code]

testparm doesn't choke on anything:

[code]
All of this even after

[2019-04-26 00:10] loxK commented on #1864
I had my shares working properly for two weeks and today it fails again ...

[2019-04-30 14:15] dbseoane opened #1874 "OpenVPN stub - can't validate certificate cn prefix correctly"
The template file of the OpenVPN configuration server has the parameter verify-x509-name incorrectly configured to allow a prefix certificate. In the current way, it only allow to connect with a certificate having the exact CN match, not a prefix.
[code]

To work properly, it is necessary to change it in the following way:
[code]

[2019-05-16 14:09] mmiat commented on #1870
me too, also as #1819

[2019-05-17 09:05] mmiat commented on #1870
in my case, I fixed after last update and a reboot

[2019-05-21 15:42] Neustradamus opened #1875 "Dead project since November 2018?"
Dead project since November 2018?

[2019-05-23 03:45] #1875 closed

[2019-05-23 04:01] brunolorente commented on #1873
Hi @rootless4real,

Are you trying to add this server as additional DC to an existing domain?
Did you do something strange before domain provision? I mean, enable/disable install/uninstall some samba deps...
What about DNS module? Is working properly?

I need more info to try to help you

[2019-05-23 04:17] brunolorente commented on #1870
It seems like a dnsadmins group issue, you need to check the 'DnsAdmins' group in every server in order to verify wheter the DNS user of each server has a membership for this group. You also may check the following [link](https://wiki.samba.org/index.php/Verifying_and_Creating_a_DC_DNS_Record)

[2019-05-23 11:34] Neustradamus commented on #1875
Happy to meet you @brunolorente!
Any news?

[2019-05-23 11:38] Neustradamus commented on #1857
@brunolorente?

[2019-05-23 11:41] Neustradamus commented on #1853
@brunolorente?

[2019-05-23 11:42] Neustradamus commented on #1853
Linked to https://github.com/zentyal/zentyal/issues/1868.

[2019-05-23 11:44] Neustradamus commented on #1817
@brunolorente?

[2019-05-23 11:44] Neustradamus commented on #1852
@brunolorente?

[2019-05-23 11:45] Neustradamus commented on #1814
@brunolorente?

[2019-05-23 11:45] Neustradamus commented on #1849
@brunolorente?

[2019-05-23 11:46] Neustradamus commented on #1855
@brunolorente?

[2019-05-23 11:46] Neustradamus commented on #1854
@brunolorente?

[2019-05-23 11:46] Neustradamus commented on #1851
@brunolorente?

[2019-05-23 11:46] Neustradamus commented on #1836
@brunolorente?

[2019-05-23 11:47] Neustradamus commented on #1838
@brunolorente?

[2019-05-23 11:47] Neustradamus commented on #1842
@brunolorente?

[2019-05-23 12:04] Neustradamus opened #1876 "IPv6 support + options"
Important missing point.

[2019-05-23 18:47] rootless4real commented on #1873
Inline reply.

On Thu, May 23, 2019 at 12:01 AM Bruno Lorente <notifications@github.com>
wrote:

Yes.

Nope.  I even wiped the server and did a fresh install with the same
result.

That depends on who you ask (like the Samba listserv).  It seemed to be
working fine.  The default resolv.conf settings have problems as the DNS
server for the existing DC isn't identified properly.  I also tried adding

[2019-05-27 06:37] v-gabor commented on #1849
@RemiNetEU the solution worked for me as well. Thx!

[2019-05-28 15:24] loxK opened #1877 "[DNS] Create CNAME to another domain"
Currently it is not possible to add a CNAME to a domain pointing to another domain.

[2019-05-28 15:25] loxK opened #1878 "[DNS] Allow sharing IP"
I need to have some domains configured to the same IP.
Zentyal WebUI refuses it.

[2019-05-28 15:27] loxK commented on #1855
I can connect using STARTTLS on "non SSL" port with Apache Directory Studio

[2019-05-29 09:22] brunolorente commented on #1878
If you need to do something with the DNS module which the Zentyal Admin Interface doesn't support, you could use the [Zentyal stubs](https://doc.zentyal.org/en/appendix-c.html#stubs). In many cases you will be able to achieve your goal using this feature, in others, it could be a manufacturer limitation or Zentyal limitation.

On the other hand, if you are using the Domain Controller module, you c

[2019-05-29 09:22] #1878 closed

[2019-05-29 09:25] brunolorente commented on #1877
Duplicate of #1878

[2019-05-29 09:25] #1877 closed

[2019-06-01 00:13] Neustradamus commented on #1855
@loxK : What modifications have you done?

[2019-06-04 23:25] loxK commented on #1855
none

[2019-06-10 09:57] ProBackup-nl commented on #1845
I am seeing the same issue:

[code]

when trying to add Zentyal as BDC to a PDC that is running Windows 2008 R2. Note Zentyal "Domain Controller and File Sharing" is version 6.0.1.

**Could not retrieve time from AD server 10.0.0.31 via NTP.**
PS It would already be nice when Samba would try to retrieve the time only from the supplied IP of the PDC, and not the IP's that are assigned to VPN server

[2019-06-10 12:33] ProBackup-nl opened #1879 "Use user specified "Domain DNS server IP" for NTP query otherwise "Could not retrieve time from AD server other.ip.add.ress via NTP"."
Domain Controller and File Sharing = 6.0.1
Server role = Additional domain controller
Samba -V = Version 4.7.6-Ubuntu

Running a (Windows 2008 R2) PDC with Routing and RAS enabled, including "Enabling broadcast name conversion" might trigger "Could not retrieve time from AD server 192.168.1.2 via NTP", where "Domain DNS server IP" was specified 192.168.1.1.

It would already be nice when Zentyal w

[2019-06-11 19:12] nntc opened #1880 "After Zentyal version ~3.5 PPPoE connection is not obtain the gateway"
Developers! Help!

After Zentyal version ~3.5 PPPoE connection is not obtain the gateway (In version 6.0 - **ALSO NOT WORKING**).

When I add gateway by hand (ip route add default via `here address behind p-t-p PPPoe Addr`) then Zentyal server can access to internet, but workstations in zentyal local network (which ise zentyal as gateway) does not have access to internet.

If i try add default gw

[2019-06-15 21:54] unquietwiki commented on #1876
@Neustradamus #1822  addresses this.

[2019-06-15 21:56] unquietwiki opened #1881 "Suggestion: use Perl-Critic to audit the code-base [cleanup]"
https://github.com/Perl-Critic/Perl-Critic

[2019-06-17 21:33] dmartini1337 commented on #1836
Let´s Encrypt support would be very nice!

[2019-06-19 11:22] tomasz89 commented on #1880
I've just had this problem tonight after getting a new Internet connection. It's a pretty sloppy miss by the team, thankfully the fix is easy.

When transitioning from Perl's TryCatch::Lite to TryCatch, they missed the ppp module. A simple grep should have found this!

Anyway, in /usr/share/zentyal-network/ppp-set-iface.pl, line 24 (at least in my version):
use TryCatch::Lite;
Change this to:
use

[2019-06-19 11:34] tomasz89 commented on #1880
Created pull request #1882

[2019-07-01 09:30] #1870 closed

[2019-07-01 09:49] brunolorente commented on #1872
Thank you for reporting this.

FTP package works right.

We couldn't reproduce your issue, you probably has a broken packages or similar issue.

Closing the issue.

[2019-07-01 09:58] brunolorente commented on #1871
Hi,

Thank you for reporting this. This is an expected behavior, you can't restore a config backup of your server if you have configure it as ADC, this piece of code will explain what I mean:

`my $modeDC = $self->dcMode();
    unless ($modeDC eq EBox::Samba::Model::DomainSettings::MODE_DC()) {
        # Restoring an ADC will corrupt entire domain as sync data
        # get out of sync.
        EB

[2019-07-01 09:58] #1871 closed

[2019-07-01 10:42] brunolorente commented on #1868
Closing as duplicated https://github.com/zentyal/zentyal/issues/1853

[2019-07-01 10:42] #1868 closed

[2019-07-01 10:44] brunolorente commented on #1867
Thank you for reporting this. We have reproduced the issue and are working on a fix.

[2019-07-01 10:50] brunolorente commented on #1865
Thank you for reporting this, we cannot reproduce the issue so we think that is an isolated issue.

[2019-07-01 10:50] #1865 closed

[2019-07-01 10:54] brunolorente commented on #1864
Thank you for reporting this. Please note that would be caused by tons of things, probably related with server status or some samba internal mistake not related with Zentyal.

[2019-07-01 10:54] #1864 closed

[2019-07-01 10:57] brunolorente commented on #1863
Thank you for reporting this. Please note that

• This doesn't currently fit our roadmap because is a third party integration. Please check the official documentation at [doc](doc.zentyal.org) regarding the feature and ask for help via [forum](forum.zentyal.org).

Closing the issue.

[2019-07-01 10:57] #1863 closed

[2019-07-01 10:59] brunolorente commented on #1862
Thank you for the proposal, this is a good idea and we are already working on including it in the next Zentyal Server version.

Closing this for now.

[2019-07-01 10:59] #1862 closed

[2019-07-01 11:05] #1861 closed

[2019-07-01 11:09] brunolorente commented on #1858
Hi,

We have been remastering and migrating all of our websites, so It probably was a temporary issue.

Closing this.

[2019-07-01 11:09] #1858 closed

[2019-07-01 11:14] brunolorente commented on #1857
Thank you for reporting this. Please note that some Zentyal services run over Apache, i'm talking about SOGo and its related feature... so I won't recommend you to remove it.

You could try to remove it, but in a future update... you'll probably have issues...

[2019-07-01 11:14] #1857 closed

[2019-07-01 11:17] brunolorente commented on #1856
Thank you for reporting this. Please note that
• At the moment, this doesn't currently fit our roadmap because other priorities exist.

Closing the issue.

[2019-07-01 11:17] #1856 closed

[2019-07-01 11:19] brunolorente commented on #1855
Thank you for reporting this. Please note that
• this is not a bug, but configuration related error. Please check the official documentation at doc.zentyal.org regarding the feature and ask for help via forum.zentyal.org.

Closing the issue.

[2019-07-01 11:19] #1855 closed

[2019-07-01 11:26] brunolorente commented on #1849
Thank you for reporting this, but keep in mind:
As @RemiNetEU this is an expected Samba behavior.

[2019-07-01 11:26] #1849 closed

[2019-07-01 11:30] brunolorente commented on #1845
This is probably related with a duplicate hostname or... password mistake.
Closing this ticket.

[2019-07-01 11:30] #1845 closed

[2019-07-01 11:33] brunolorente commented on #1843
Thank you for reporting this. Please note that currently it is not technically feasible to provide a solution to this because we can't reproduce the issue.

Closing the issue.

[2019-07-01 11:33] #1843 closed

[2019-07-01 11:37] brunolorente commented on #1838
Thank you for reporting this. We have reproduced the issue and
are working on a fix.

[2019-07-01 11:39] brunolorente commented on #1836
Thank you for the proposal, this is a good idea and we have added
it on our ToDo list. Stay tuned for updates as we progress in the
implementation.

[2019-07-01 11:42] #1835 closed

[2019-07-01 11:43] brunolorente commented on #1833
Please note that we need additional information to start working on this.

[2019-07-01 11:45] brunolorente commented on #1832
Thank you for reporting this. Please note that
• This is not a bug, but configuration related error. Please check the official documentation at doc.zentyal.org regarding the feature and ask for help via forum.zentyal.org. Closing the issue.

[2019-07-01 11:45] #1832 closed

[2019-07-01 11:47] brunolorente commented on #1825
Thank you for reporting this. Please note that
• This doesn't currently fit our roadmap because other priorities exists.

Closing the issue.

[2019-07-01 11:47] #1825 closed

[2019-07-01 11:49] brunolorente commented on #1824
Thank you for the proposal, this is a good idea and we have added it on our ToDo list. Stay tuned for updates as we progress in the implementation.

[2019-07-01 11:49] brunolorente commented on #1824
Thank you for the proposal, this is a good idea and we have added it on our ToDo list. Stay tuned for updates as we progress in the implementation.

[2019-07-01 11:51] brunolorente commented on #1818
Thank you for reporting this. Please note that
• This is not a bug, but configuration related error. Pleas check the official documentation at doc.zentyal.org regarding the feature and ask for help.

[2019-07-01 11:51] #1818 closed

[2019-07-01 11:52] brunolorente commented on #1817
Thank you for reporting this. Please note that
• This is not a bug, but configuration related error. Please check the official documentation at doc.zentyal.org regarding the feature and ask for help

[2019-07-01 11:52] #1817 closed

[2019-07-01 11:53] brunolorente commented on #1814
Thank you for reporting this. We have reproduced the issue and are working on a fix.

[2019-07-01 11:53] #1814 closed

[2019-07-01 11:55] brunolorente commented on #1810
Thank you for reporting this. Please note that
• This doesn't currently fit our roadmap because other priorities exist.

Closing the issue

[2019-07-01 11:55] #1810 closed

[2019-07-01 12:37] mrPsycho commented on #1817
lol.

that i was asked - how to reconfigure.
you official docs doesn't answer the question.

[2019-07-01 17:46] carlos-mora commented on #1872
I can't have broken packages unless they are broken on install.
If you weren't able to reproduce the problem may be you were doing sth different.
If you do a clean install and enable FTP only, it carryes to a broken install. Try with FTP _only_
Anyway, thanks for this

[2019-07-03 01:57] loxK commented on #1864
It still happens intermittently, any advice in order to find the root cause ?

[2019-07-05 22:21] Neustradamus commented on #1835
Any news?

[2019-07-05 22:22] Neustradamus commented on #1834
All informations have been published on the tracker ^^

[2019-07-05 22:25] Neustradamus commented on #1838
@brunolorente: Thanks, I am happy to see that the development has been relaunched.

[2019-07-05 22:25] Neustradamus commented on #1836
@brunolorente: Thanks, I am happy to see that the development has been relaunched.

[2019-07-05 22:27] Neustradamus commented on #1835
@brunolorente : Install a Zentyal server, enable the XMPP module, change the hostname, look now the XMPP server : problem.

[2019-07-07 02:51] tomasz89 opened #1883 "VPNs expire with CRL every 30 days"
I noticed that every 30 days the VPN clients would not be able to connect. The OpenVPN logs state "error=CRL has expired".

This lead me to look at the CRL:
openssl crl -text -noout -in /var/lib/zentyal/CA/crl/latest.pem

Two fields is particular stuck out:
        Last Update: xxx
        Next Update: xxx + 1 month

And sure enough those dates and times aligned with when things worked and stopped

[2019-07-07 02:55] tomasz89 commented on #1883
#1882 Bundled the fix in here.

[2019-07-08 02:28] loxK opened #1884 "Fetchmail not starting"
After a fresh install and enabling external account retrieval, fetchmail will not start.

I found this old post and it makes it work properly: https://forum.zentyal.org/index.php/topic,4447.msg19156.html#msg19156

So, it seems it hasn't been fixed, or a regression occurred at some point.

[2019-07-10 15:44] brunolorente commented on #1874
Hi @dbseoane, thank you for your comment,

Under our point of view, your suggestion is valid, but we think that the complete CN check improves the server security, why? On this way, Zentyal prevents several ways of use of malicious certificates.

On the other hand, as I said, your suggestion is valid, so... feel free to use it if you need.

[2019-07-10 15:44] #1874 closed

[2019-07-10 15:53] brunolorente commented on #1873
Hi @rootless4real, many thanks for your time.

We couldn't reproduce your issue. We tried many times without success, indeed, In my own case, after several fresh installs, all was working fine...

On the other hand, these kind of issues often are caused by invalid/duplicate hostnames or similar mistakes....

Regards,

[2019-07-10 15:53] #1873 closed

[2019-07-10 16:01] brunolorente commented on #1854
Hi @mrPsycho and @Neustradamus,

I can confirm you, this is a bug. We are going to add to our roadmap.

Regards,

[2019-07-11 01:00] Neustradamus commented on #1834
XMPP PORTS:
- 5222: C2S with STARTTLS
- 5223 / 443: C2S with TLS (comeback, legacy change name option, https://xmpp.org/extensions/xep-0368.html) -> SSLH? https://wiki.xmpp.org/web/Tech_pages/XEP-0368
- 5269: S2S with STARTTLS
- 5280: HTTP-Bind (BOSH), option?
- 5281: HTTP-Bind (BOSH) with HTTPS, option?
- 3478: STUN, option?
- 1883: MQTT, option?
- 5443: option?

Security options?
- https://githu

[2019-07-11 01:21] Neustradamus commented on #1835
@brunolorente: It is always a good bug, please try it: it is important.

[2019-07-11 01:22] Neustradamus commented on #1833
More information about vhosts, it is in this page: https://docs.ejabberd.im/admin/configuration/

[2019-07-11 01:27] Neustradamus opened #1885 "Jabber is XMPP since 2004"
If you did not know, Jabber has been renamed to XMPP in 2004.
Maybe time to rename the module?
And solve the bug when the hostname is changed, it will be perfect too:
- https://github.com/zentyal/zentyal/issues/1835

[2019-07-11 01:36] Neustradamus commented on #1878
@brunolorente: It is not possible to add options in Web admin?

[2019-07-11 01:44] Neustradamus commented on #1860
@brunolorente: Have you seen?

[2019-07-11 01:48] Neustradamus commented on #1848
@brunolorente: Can you see for "network-manager-gnome"?

[2019-07-11 01:49] Neustradamus commented on #1846
@brunolorente: What do you think?
No changes since this ticket.

[2019-07-11 01:51] Neustradamus commented on #1857
SOGo and nginx, it works: http://wiki.sogo.nu/nginxSettings.

[2019-07-11 13:17] rootless4real commented on #1873
Fascinating as I couldn't not reproduce the issue.  There was never any
attempt at dialog with me and I'm not the only one to have experienced the
issue.

It also had nothing to do with invalid or duplicate hostnames.  If you look
at the Samba listserv where I also tried to get some help resolving the
issue (or had asked any questions if you were in doubt) you can see clearly
that this was not the

[2019-07-11 15:30] brunolorente commented on #1851
Hi @Neustradamus,

What's the status of the issue? What Zentyal version are you using?

[2019-07-11 15:33] Neustradamus commented on #1851
The last version at the ticket date: Dec 3, 2018.

[2019-07-11 15:36] brunolorente commented on #1885
Hi @Neustradamus,

XMPP is the protocol which ejarbberd (which is used by Jabber module in Zentyal Server) uses to work.

useful links:

- https://www.ejabberd.im/
- https://en.wikipedia.org/wiki/XMPP

Closing as invalid.

[2019-07-11 15:36] #1885 closed

[2019-07-11 15:40] brunolorente commented on #1833
Quoting to my mate:

Please, don't doubt to open a new issue when you have a log trace or something similar.

Regards,

[2019-07-11 15:40] #1833 closed

[2019-07-11 15:44] Neustradamus commented on #1885
Yes, Jabber has been renamed XMPP in 2004.
I hope a XMPP module instead of Jabber module in Zentyal :)

- https://xmpp.org/about/history.html History of XMPP on XSF
- https://xmpp.org/ XMPP Standards Foundation
- https://en.wikipedia.org/wiki/XMPP (I am a very old contributor of this page)
- https://gajim.org/ Gajim XMPP client
- https://psi-im.org/ Psi XMPP client

[2019-07-11 15:47] Neustradamus commented on #1833
You will not add vhost options in Web admin?

- main domain
- second domain
- third domain
- ...

[2019-07-11 16:58] #1876 closed

[2019-07-13 00:53] Neustradamus commented on #1833
Virtual Hosting: https://docs.ejabberd.im/admin/configuration/#virtual-hosting

[2019-07-17 09:32] flopezgr commented on #1884
I haven't had been able to reproduce the issue that you described.

Fetchmail runs correctly on Zentyal 6.0.

In order to check your fetchmail configuration, run this command:

"sudo cat /etc/zentyal-fetchmail.rc"

[2019-07-22 01:49] loxK commented on #1884
I can notice this issue on 3 installs

[2019-07-24 19:14] tlparolin opened #1886 "Include account expires in user edit page."
Is there any way to include in zentyal ui, a field for change user account expiration info?
(like rsat, account expires: never or schedule a date.)

[2019-07-26 18:59] citystar-at commented on #1860
seems like the same problem as Error updating 5.1.2 to 6 samba dependency. #1843

i did the following after upgrading:
sudo service smbd stop
sudo service nmbd stop
sudo service winbind stop
sudo dpkg --configure -a

systemctl mask smbd nmbd winbind
systemctl disable smbd nmbd winbind

then reboot

[2019-08-06 11:23] tomasz89 opened #1887 "Logrotate for Squid generating daily error 'to_localhost' ACL"
Anacron is sending daily emails on logrotation:
/etc/cron.daily/logrotate: WARNING: (B) '127.0.0.0/8' is a subnetwork of (A) '127.0.0.0/8'

This is because the newer version of squid has these rules implicitly and does not need them stipulated in the configuration file.

[2019-08-06 11:25] tomasz89 commented on #1887
#5ee41e649cf330b72dca816288a7c2f93979dec5

[2019-08-06 11:25] tomasz89 commented on #1887
#1882 fix bundled in this pull request.

[2019-08-16 18:24] aaloise opened #1888 "Single Label Domains"
Consider allowing Zentyal to join single label domais. Currently I'm unable to use Zentyal as a DC because our domain doesn't have a suffix.

I found a possible workaround, but doesn't seem to work.

https://forum.zentyal.org/index.php/topic,20057

[2019-08-28 17:55] nickpiggott opened #1889 "Adding group "Domain Users" to a Share adds incorrect valid users entry"
Zentyal 5.1

Symptom: Users cannot connect to SMB Shares with Group "Domain Users" given read/write access.

Problem: The /etc/samba/shares.conf file contains the lines:
[code]

Fix: Manually edit the value @"All domain users" to matche the @"Domain Users" group in the Active Directory Server.

Steps to reproduce:

1. Create a new share in Zentyal File Sharing
2. Add an ACL with a Group "Domain Us

[2019-08-29 07:25] loxK commented on #1864
I fixed it:

# systemctl mask smbd nmbd winbind
# systemctl disable smbd nmbd winbind

Many of us had to do this after only upgrading to 6.0

[2019-08-29 07:32] loxK commented on #1884
Is that intended ?

[code]

[2019-08-29 07:39] loxK commented on #1884
`sudo chsh -s /bin/sh fetchmail` fixes the issue on fresh Zentyal 6.0 install. Without that fetchmail doesn't work.

[2019-09-03 07:51] Neustradamus opened #1890 "Any news?"
A lot of people would like news about the Zentyal development.

[2019-09-05 11:41] brunolorente commented on #1883
Hi @tomasz89 thank you for reporting this. We have reproduced the issue and
are working on a fix.

[2019-09-05 11:44] brunolorente commented on #1859
Sorry @rashedrefaat but we cannot reproduce the issue

[2019-09-05 11:44] #1859 closed

[2019-09-05 11:46] brunolorente commented on #1869
Sorry @rootless4real but we cannot reproduce this issue, thank you for your time!

[2019-09-05 11:46] #1869 closed

[2019-09-05 11:47] #1890 closed

[2019-09-05 11:49] brunolorente commented on #1884
Hi @loxK what kind of account are you using? (Google, outlook...)

[2019-09-05 11:58] brunolorente commented on #1886
You can't check out this info in Zentyal GUI, but you could use the samba-tool command to set the expiration of the user.

On the other hand, you can use the ldbedit command looking for an account and check out the accountExpiration attribute for that account

[2019-09-05 11:58] #1886 closed

[2019-09-05 11:59] brunolorente commented on #1887
Thank you for reporting this. We have reproduced the issue and
are working on a fix.

[2019-09-05 12:03] brunolorente commented on #1880
At the moment we cannot reproduce this issue, also many customers and Zentyal users are using this feature without errors... anyway, we are going review this feature in order to find issues. Thank you for your time @tomasz89 and @nntc

[2019-09-05 12:05] #1881 closed

[2019-09-05 12:09] brunolorente commented on #1888
Thank you for reporting this. Please note that this doesn't currently fit our roadmap because FIXME.
Closing the issue.

[2019-09-05 12:09] #1888 closed

[2019-09-05 12:09] brunolorente commented on #1881
Thank you for reporting this. Please note that this doesn't currently fit our roadmap because FIXME.
Closing the issue.

[2019-09-05 14:07] loxK commented on #1884
Standard IMAP (dovecot), but what is the point with the daemon not starting/running ?

[2019-09-05 19:40] tomasz89 commented on #1880
The exception library in use is wrong.. did you see the code? Bizarre, at the time I did a fresh install and reproduced it immediately.

[2019-09-09 15:45] Neustradamus opened #1891 "SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) supports"
"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

Can you add support for?
- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since

[2019-09-09 15:46] Neustradamus opened #1892 "RFC6331: Moving DIGEST-MD5 to Historic"
July 2011: RFC6331: Moving DIGEST-MD5 to Historic:
- https://tools.ietf.org/html/rfc6331

There are now:
- July 2010: RFC5802: Salted Challenge Response Authentication Mechanism (SCRAM): SASL and GSS-API Mechanisms: https://tools.ietf.org/html/rfc5802 (SCRAM-SHA-1 and SCRAM-SHA-1-PLUS)
- July 2010: RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response

[2019-09-09 18:21] Tiago2912 opened #1893 "Módulo IDS/IPS com problemas"
O módulo IDS/IPS bloqueia alguns sites quando está ativado, impossibilitando o acesso ao site. Este problema está presente nas versões 5.1.3 e na 6.0.1, existe uma previsão de correção?

[2019-09-09 18:28] Tiago2912 commented on #1847
Olá jacalvo, você consguiu solucionar o problema com o modulo IDS\IPS?

[2019-09-11 08:22] vjmartins opened #1894 "Feature: Zentyal release with MySQL 8.x"
Hi.

New version should come with MySQL 8.0.

Thanks

[2019-09-11 10:20] renatopancheri opened #1895 "samba.log.old problem"
Hi,

i have a problem with the samba internal rotation of logs:
i have default configuration of smb.conf with the params

[code]
this should put all the old logs in
/var/log/samba/samba.log.old

but on some of my Zentyal ADs  the samba.log.old file instead of growing in size every time there is a rotation the file is deleted and rewritten, the biggest problem is that samba processes do not close t

[2019-09-11 21:44] toreonify opened #1896 "Setting ACLs fail when administrator username is different"
I've noticed a strange behavior when added SDC and tried to add shares on it. Previously, on PDC I have edited shares.conf.mas by hand and didn't had any issues. On SDC I tried to add shares in web UI and it failed every time, no matter what I did (even reinstalling). Later, in log file it said that "chown command failed".

So I've opened source code for SyncDaemon.pm and found that "chown" uses d

[2019-09-25 16:10] giuseppepaolo commented on #1880
Same error here with Zentyal 6.0.1. I change the TryCatch::Lite like the @tomaz89, but not solved yet. When I save the configurations, show me the error at modules network and squid.

[2019-09-26 10:22] evilaliv3 opened #1897 "Possible defect in certificate generation: mixed X509 and PEM format"
One of the users of [GlobaLeaks](https://github.com/globaleaks/GlobaLeaks) is currently trying to use the certificates generated via Zentyal and has identified a possible bug in the format of the downloaded certificate.

It seems in fact that the certificates when downloaded are in a not standard format combining X509 followed by PEM format.

This may be cause of failures for many order users in a

[2019-10-05 17:30] covex commented on #1812
This is fresh on Z6.0.x

/etc/cron.hourly/90zentyal-manage-logs:
Can't locate object method "throw" via package "Can't locate object method "tableInfo" via package
"EBox::AntiVirus" at /usr/share/perl5/EBox/Logs.pm line 321.
" (perhaps you forgot to load "Can't locate object method "tableInfo" via package "EBox::AntiVirus"
at /usr/share/perl5/EBox/Logs.pm line 321.
"?) at /usr/share/zentyal/manage

[2019-10-07 10:22] caguiar opened #1898 "clamd.conf options change from clamAV version 0.101.0"
From my last update of Ubuntu 18.04.3 LTS that I keep on getting messages such as (just an example):
WARNING: Ignoring deprecated option AllowSupplementaryGroups at /etc/clamav/clamd.conf:4
WARNING: Ignoring deprecated option DetectBrokenExecutables at /etc/clamav/clamd.conf:30

Please take into account the changes of clamd.conf options as from clamAV version 0.101.0
(https://blog.clamav.net/2018/

[2019-10-19 08:17] #1842 closed

[2019-10-22 06:26] KOV70 opened #1899 "Ejabberd and shared_roster #1842"
Thanks for https://github.com/zentyal/zentyal/issues/1842
There are users in the roster, but no groups. More precisely, there is one group, but in fact it is one of the users.
![1](https://user-images.githubusercontent.com/45202680/67261325-d662e800-f4a8-11e9-9c43-a92bba7d3a62.png)
1 - user serna, but for some reason he is also in the name of the group (he must be in the "Msestr" group)
2 - group

[2019-10-30 02:57] killmasta93 opened #1900 "DNS issue with PTR?"
Hi,
I was wondering if zentyal has pushed update on the issue
 for the DNS, i can resolve the name but when i try to resolve by IP it cannot find it, in theory the DHCP should inject it.

I was reading this topic https://forum.zentyal.org/index.php?topic=31202.0
but it seems that sometimes it works

Thank you

[2019-10-30 09:25] #1852 closed

[2019-10-30 09:26] mrPsycho commented on #1852
oh, cool)

[2019-10-30 09:42] Neustradamus commented on #1833
@brunolorente: Do not forget this ticket about XMPP too for the new release.

[2019-10-30 09:44] Neustradamus opened #1901 "Bug #5281: Problem with ejabberd (XMPP) to enable vhost etc"
Origin: https://tracker.zentyal.org/issues/5281
Github: https://github.com/zentyal/zentyal/issues/1833

More informations about vhosts, it is in this page: https://docs.ejabberd.im/admin/configuration/

Can you add vhost options in Web admin?
- main domain
- second domain
- third domain
- ...

Virtual Hosting: https://docs.ejabberd.im/admin/configuration/#virtual-hosting

[2019-10-30 13:45] Neustradamus commented on #1888
@brunolorente: It is not possible to add an option in the webadmin to enable it?

[2019-10-30 13:58] Neustradamus commented on #1864
@brunolorente: Have you seen the solution?

[2019-10-30 14:08] Neustradamus opened #1902 "Add an option in webadmin to have multiple domains to same ip address"
Linked to:
- https://forum.zentyal.org/index.php?topic=32414.0
- https://forum.zentyal.org/index.php?topic=33635.0

Solution:

Linked to:
- https://github.com/zentyal/zentyal/issues/1878

[2019-10-30 16:50] patphobos opened #1903 "Bug: Disabled DHCP interfaces are enabled on dhcpd.conf (patch provided)"
Hi,

this is a patch to only generate configuration of enabled dhcp interfaces.
because pre-configured interfaces with ranges configured are inserted in dhcpd.conf even if the interface is marked has "disabled".

patch for : /usr/share/perl5/EBox/DHCP.pm
[code]

patch for dhcpd.conf.mas :
[code]

[2019-10-30 21:25] Neustradamus opened #1904 "SourceForge project is not updated"
- https://sourceforge.net/projects/zentyal/

[2019-10-31 17:09] brunolorente commented on #1867
fixed in commit 958d1bab74c12f0a187ff381c931cc47ec1dcd12

[2019-10-31 17:09] #1867 closed

[2019-10-31 18:32] brunolorente commented on #1900
Hi @killmasta93 ,
We have fixed it in 5196c98 and then, we fixed a permissions issue in 74e9248. I recommend you to update to 6.1

Thank you!

[2019-10-31 18:32] #1900 closed

[2019-10-31 18:43] brunolorente commented on #1894
Hi @vjmartins ,
I'm sorry, but at the moment this isn't technically feasible, many modules are dependents of MySQL. We have a pending update of MySQL in our roadmap, but I don't know when this is going to be possible.

Thanks

[2019-10-31 18:43] #1894 closed

[2019-10-31 18:54] brunolorente commented on #1901
Hi @Neustradamus,
This is an interesting suggestion, but following the Zentyal philosophy, I think that the best way will be editing the file '/usr/share/zentyal/stubs/jabber/ejabberd.yml.mas'

By this way, you could get the behavior that you need. Anyway, I'm going to talk with the other developers and the support team mates to get feedback about this. We could add it to the 7.0 version's roadmap

[2019-11-02 11:14] Neustradamus commented on #1856
@brunolorente: Please do not close ticket if it is not solved.
Can you re-open it?

[2019-11-02 11:17] Neustradamus commented on #1855
How it is possible to have a perfect Zentyal with:
- LDAP over TLS (STARTTLS)
- LDAP over SSL (LDAPS)
And disabled insecured ports.

For have:
- LDAP over SSL 636/tcp
- Global catalog LDAP over SSL 3269/tcp

This ticket is not solved.

[2019-11-02 11:19] Neustradamus commented on #1903
@brunolorente: Have you seen this ticket and the PR?

[2019-11-02 12:40] Neustradamus opened #1906 "Dovecot with NTLM and GSS-SPNEGO authentication mechanisms (Samba's winbind daemon)"
Dovecot supports NTLM and GSS-SPNEGO authentication mechanisms using Samba's winbind daemon. It is useful when you need to authenticate users against a Windows domain (either AD or NT).

Source: https://wiki.dovecot.org/Authentication/Mechanisms/Winbind

Zentyal configuration file:
- https://github.com/zentyal/zentyal/blob/master/main/mail/extra/dovecot-pam

[2019-11-02 13:51] mrPsycho opened #1907 "6.1 and raid"
Hello,

suddenly noticed that on site 6.1 already possible to install... and i tried it with no luck if i try to partition how i want it.

when i press manul on partition menu - red screen appears.

![photo_2019-11-02_15-50-32](https://user-images.githubusercontent.com/883964/68071944-96ddab00-fd88-11e9-8de9-80193cf199b3.jpg)

how it is possible to install zentyal on software raid?

[2019-11-02 16:38] brunolorente commented on #1904
Done!

[2019-11-02 16:38] #1904 closed

[2019-11-02 16:43] brunolorente commented on #1902
Hi @Neustradamus,

We did the current module setup to prevent user failures, but we are going to revert it. We will fix it into the next DNS package release.

[2019-11-02 16:45] brunolorente commented on #1902
Stay tuned for updates as we progress in the implementation.

[2019-11-02 16:45] #1902 closed

[2019-11-02 16:49] Neustradamus opened #1908 "Sync with Apache SOGo conf file"
Last SOGo Apache conf:
- https://github.com/inverse-inc/sogo/blob/master/Apache/SOGo.conf

Zentyal Apache SOGo conf:
- https://github.com/zentyal/zentyal/blob/master/main/sogo/stubs/SOGo.conf-apache.mas

[2019-11-02 16:53] Neustradamus opened #1909 "nginx and SOGo instead of Apache HTTPd and SOGo"
It is possible to replace Apache HTTPd to nginx for SOGo?

- http://wiki.sogo.nu/nginxSettings
- https://mailcow.github.io/mailcow-dockerized-docs/firststeps-rp/#nginx

[2019-11-02 16:57] brunolorente commented on #1908
hi @Neustradamus
What do you mean?

[2019-11-02 16:59] brunolorente commented on #1909
No,
Nginx is reserved in Zentyal for other purposes so we are going to maintain it running with Apache

Best regards

[2019-11-02 16:59] #1909 closed

[2019-11-02 17:18] Neustradamus commented on #1902
@brunolorente: thanks for your reply but please do not close before solution...

[2019-11-02 17:24] Neustradamus commented on #1904
@brunolorente: Thanks!

Some links on the website are always for 6.0 build:
- On https://zentyal.com/
- At the bottom: For Community: Download
- https://doc.zentyal.org/en/

[2019-11-02 17:31] Neustradamus commented on #1897
@evilaliv3: Have you more informations?
- About OpenSSL: https://github.com/zentyal/zentyal/search?q=openssl&unscoped_q=openssl

Note: I have requested Let's Encrypt support here: https://github.com/zentyal/zentyal/issues/1836

[2019-11-02 17:38] Neustradamus commented on #1909
It will be nice to have nginx for SOGo too.
- Less memory usage
- One software is less

The Apache HTTPd can be used by webserver part:
- https://github.com/zentyal/zentyal/issues/1856
But it can be nginx of course.

[2019-11-02 18:53] Neustradamus opened #1910 "Add Apache SOGo conf file for Apple AddressBook"
Here:
- https://github.com/inverse-inc/sogo/blob/master/Apache/SOGo-apple-ab.conf

I have done a PR here:
- https://github.com/inverse-inc/sogo/pull/262/files

Documentation:
- https://sogo.nu/files/docs/SOGoInstallationGuide.html#_apple_addressbook

Other points are already good?
- https://sogo.nu/files/docs/SOGoInstallationGuide.html#_using_sogo

[2019-11-02 19:26] Neustradamus opened #1911 "Remove "Apache2 Ubuntu Default Page""
When we enter http://ip/ there is the Apache2 Ubuntu Default Page.

Can you remove it?

[2019-11-02 19:29] Neustradamus opened #1912 "Unsecure webadmin : Error 400"
When we enter http://ip:8443/, we have:

Can you remove it for security?

[2019-11-02 20:44] tomasz89 opened #1913 "Archivemail through cron sending needless verbose email"
Zentyal runs archivemail from a cron job without the --quiet flag, so I get daily emails about things that aren't errors.

/usr/share/zentyal/stubs/mail/archivemail.mas should include the --quiet flag for archivemail.

[2019-11-02 20:44] tomasz89 commented on #1913
--- archivemail.mas.bak	2019-11-03 07:10:50.927934099 +1030
+++ archivemail.mas	2019-11-03 07:10:57.568486251 +1030
@@ -22,7 +22,7 @@
 $days
 </%args>
 % if ($days) {
-find <% $mailDir%> -type d -name <% $folder %> | su ebox -s /bin/bash -c "xargs -n 1 -r archivemail -d <% $days %> --delete --include-flagged"
+find <% $mailDir%> -type d -name <% $folder %> | su ebox -s /bin/bash -c "xargs -n 1 -r

[2019-11-02 20:45] tomasz89 commented on #1887
Here it is again (as the bundle included) but for some reason it's still not in 6.1:

--- squid.conf.mas.bak	2019-11-03 07:07:36.963806559 +1030
+++ squid.conf.mas	2019-11-03 07:08:02.545933617 +1030
@@ -416,7 +416,6 @@

 acl from_localhost src 127.0.0.0/8 ::1
-acl to_localhost dst 127.0.0.0/8 ::1
 acl manager url_regex -i ^cache_object:// +i ^https?://[^/]+/squid-internal-mgr/
 acl SSL_ports port

[2019-11-02 20:48] tomasz89 commented on #1880
Patch enclosed in the hopes that it might get the attention needed.

--- ppp-set-iface.pl.bad	2019-06-19 19:11:13.687186483 +0930
+++ ppp-set-iface.pl	2019-11-02 13:51:33.145930564 +1030
@@ -21,7 +21,7 @@
 use EBox;
 use EBox::Global;
 use EBox::Exceptions::Lock;
-use TryCatch::Lite;
+use TryCatch;

 EBox::init();

[2019-11-02 22:20] Neustradamus commented on #1908
@brunolorente: Look the differences, it is better to use the official base file no? (with my PR of course)

Please note:
- /etc/apache2/conf.d/SOGo.conf (SOGo source conf file)
vs
- /etc/apache2/conf-available/SOGo.conf (from .mas)

[2019-11-02 22:59] Neustradamus opened #1914 "Apache HTTPd: SSL cert problem in error.log"
In /var/log/apache2/error.log:

[2019-11-03 00:17] Neustradamus opened #1915 "ejabberd.log problems"
In /var/log/ejabberd/ejabberd.log, there are:
- [warning] <0.65.0>@ejabberd_config:emit_deprecation_warning:1365 Module mod_vcard_ldap is deprecated, use mod_vcard with 'db_type: ldap' instead
- [warning] <0.65.0>@ejabberd_pkix:opt_type:190 option 's2s_certfile' is deprecated, use 'certfiles' instead
- [warning] <0.350.0>@ejabberd_pkix:build_chain_and_check:426 Failed to validate certificate from

[2019-11-03 01:20] Neustradamus opened #1916 "Improvements for ejabberd"
Option to disable old points, for more security in ejabberd.yml
    - "no_sslv2"
    - "no_sslv3"
    - "no_tlsv1"
    - "no_tlsv1_1"
Of course, there is "no_tlsv1_2" too.

Change LDAP by LDAP with TLS:
- https://docs.ejabberd.im/admin/configuration/#ldap-connection
ldap_port: 389
->
ldap_port: 636
ldap_encrypt: tls

Look for:
ldap_tls_verify: false|soft|hard
ldap_tls_cacertfile: Path
ldap_tls_dep

[2019-11-03 01:34] Neustradamus opened #1917 "When we change the "Hostname and Domain", it is not for ejabberd (XMPP)"
When we change the "Hostname and Domain" in "System -> General", the domain is not changed in the Jabber (XMPP) "ejabberd".
Warning for the process of migration for ejabberd.

- https://zentyal:8443/SysInfo/Composite/General

- https://zentyal:8443/Jabber/Composite/General

vhost, ...
Documentation:
- https://docs.ejabberd.im/admin/configuration/

[2019-11-04 13:23] brunolorente commented on #1907
Hi @mrPsycho,

Thank you for reporting this. Please note that this is not a bug, but configuration related error.

This is a configuration mistake, the installation works properly for each Ubuntu partitioning schema like RAID0, RAID1, RAID4, etc...

You probably didn't select any raid volume as root system. Anyway, you could ask for help via [forum.zentyal.org](https://forum.zentyal.org/).

[2019-11-04 13:23] #1907 closed

[2019-11-05 07:25] brunolorente commented on #1880
Fixed in c561266c09f6edb1f581142fc9770ad058a047f3

[2019-11-05 07:25] #1880 closed

[2019-11-05 07:25] brunolorente commented on #1887
Fixed in 391b9a6a692793909722dccb1fc30560580306f8

[2019-11-05 07:25] #1887 closed

[2019-11-05 07:35] brunolorente commented on #1822
Hi @unquietwiki
I'm going to add this to our roadmap for 6.2 ;)
Thank you very much for your time!

[2019-11-05 07:38] unquietwiki commented on #1822
@brunolorente Thank you for looking into it. Wish I had more Perl knowledge & time to help you all out with it.

[2019-11-07 20:57] Neustradamus commented on #1902
@brunolorente: Please open this ticket? You will forget because it is already closed.

[2019-11-10 16:02] Neustradamus opened #1918 "Configuring DNS updates for all DHCP leases (not just domain members)"
"I have Zentyal running as a domain controller and I am happy with the configuration with the exception that I would like all hosts obtaining an IP address from the DHCP server to trigger a DNS update.

I should note that I have enabled Dynamic DNS and the 'Dynamic domain' and 'Static domain' settings have been configured.

However, it seems that only hosts that have joined the domain are able to

[2019-11-10 22:10] Neustradamus commented on #1814
@brunolorente: It is solved?

[2019-11-10 22:11] Neustradamus commented on #1815
@mrPsycho It is solved?

[2019-11-10 22:12] Neustradamus commented on #1817
@mrPsycho, @brunolorente: It is solved?

[2019-11-10 22:15] Neustradamus commented on #1818
@hermanocorreia: It is solved?

[2019-11-10 22:17] Neustradamus commented on #1819
@kerk12, @kedarapte27, @mmiat: It is solved?

[2019-11-10 22:17] Neustradamus commented on #1870
@kerk12, @kedarapte27, @mmiat: It is solved?

[2019-11-10 22:18] Neustradamus commented on #1837
@brunolorente: About the missing 901 port?
https://www.samba.org/samba/docs/old/Samba3-HOWTO/SWAT.html

[2019-11-10 22:20] Neustradamus commented on #1860
@brunolorente: Have you seen?

[2019-11-10 22:21] Neustradamus commented on #1845
@stefanmikroe, @tjspann, @ProBackup-nl: It is solved?

[2019-11-10 22:24] Neustradamus commented on #1861
@mrPsycho: It is solved?

[2019-11-10 22:25] Neustradamus commented on #1864
@brunolorente: It is not possible to do after upgrading?

[2019-11-10 22:26] Neustradamus commented on #1865
@mmartinello: Have you found a solution?

[2019-11-10 22:29] Neustradamus commented on #1869
@rootless4real: It is solved?

[2019-11-10 22:35] Neustradamus opened #1919 "Upgrade Samba"
Can you upgrade Samba?
- http://www.linuxfromscratch.org/blfs/view/svn/basicnet/samba.html
- https://lists.samba.org/archive/samba/2019-April/222191.html
- https://github.com/thctlo/samba4

[2019-11-11 06:39] mrPsycho commented on #1815
no.. how?

[2019-11-11 06:40] mrPsycho commented on #1861
no, idk how it can be solved

[2019-11-12 11:24] loxK commented on #1864
I just upgraded a friend's instance and has the same issue and the same solution worked. Not sure that they care that much about it in fact.

[2019-11-12 15:14] rootless4real commented on #1869
Nope.  Never got it resolved.

On Sun, Nov 10, 2019 at 5:29 PM Neustradamus <notifications@github.com>
wrote:

--
James Fowler/方志宇
santiago@myazcomputerguy.com
rootless@gmail.com
Public Key:
https://sites.google.com/site/poorpermissions/pk/fowler_publickey?attredirects=0&d=1
<http://rootless.googlepages.com/fowler_publickey>

[2019-11-17 11:13] imrelaszlo commented on #1845
@Neustradamus Same problem here. Did you find out what was the problem? I've completely re-installedd zentyal last night, but I still cannot connect it to a Windows Server 2019 Essenetials DC. DC forest / domain functional level is 2008 R2.

Cannot do GSSAPI to an IP address
Could not find machine account in secrets database: Failed to fetch machine account password from secrets.ldb: Could not fin

[2019-11-17 23:18] Neustradamus commented on #1864
@brunolorente: Can you look for a real solution, please reopen this ticket and do not close ticket before solution?

[2019-11-17 23:19] Neustradamus commented on #1845
@brunolorente: Can you look for a real solution, please reopen this ticket and do not close ticket before solution?

[2019-11-17 23:19] Neustradamus commented on #1869
@brunolorente: Can you look for a real solution, please reopen this ticket and do not close ticket before solution?

[2019-11-17 23:20] Neustradamus commented on #1815
@mrPsycho: Why have you closed this ticket if it is not solved?

[2019-11-17 23:24] Neustradamus commented on #1860
@brunolorente: Have you solved it in upgrade process?

[2019-11-17 23:25] Neustradamus commented on #1837
@ringe: It is solved or not?

[2019-11-17 23:26] Neustradamus commented on #1819
@kerk12, @kedarapte27, @mmiat: It is solved?

[2019-11-17 23:26] Neustradamus commented on #1870
@kerk12, @kedarapte27, @mmiat: It is solved?

[2019-11-17 23:27] Neustradamus commented on #1818
@hermanocorreia: It is solved?

[2019-11-17 23:28] Neustradamus commented on #1817
@mrPsycho: It is solved?

[2019-11-17 23:35] Neustradamus opened #1920 "Add an option in webadmin to have multiple domains to same ip address"
Linked to:
- https://forum.zentyal.org/index.php?topic=32414.0
- https://forum.zentyal.org/index.php?topic=33635.0

Solution:

Linked to:
- https://github.com/zentyal/zentyal/issues/1878
- https://github.com/zentyal/zentyal/issues/1902

PS: @brunolorente: Do not close a ticket before a real solution, and please reply us when you contact you.

[2019-11-17 23:38] Neustradamus commented on #1859
@rashedrefaat: Have you found a solution?

[2019-11-17 23:39] Neustradamus commented on #1872
@carlos-mora: Have you found a solution?

[2019-11-17 23:46] Neustradamus commented on #1843
@neovs @loxK @gadgetusaf @phaidros7 @lostboy1 @citystar-at: Have you found a solution?

[2019-11-17 23:49] Neustradamus commented on #1849
@mrPsycho @ggowins @RemiNetEU @v-gabor: Have you found a solution?

@brunolorente: In the upgrade process, you can add the code no?

[2019-11-17 23:57] Neustradamus commented on #1862
@brunolorente: Please do not close a ticket before the solution.

[2019-11-17 23:58] Neustradamus commented on #1863
@unquietwiki: It is solved now?

[2019-11-18 00:02] Neustradamus commented on #1844
@anselal: How have you done?

[2019-11-18 00:11] Neustradamus commented on #857
@mokkin: It is solved since the long time?

[2019-11-18 00:12] Neustradamus commented on #856
@mokkin: It is solved since the long time?

[2019-11-18 00:12] Neustradamus commented on #587
@mat18: It is solved since the long time?

[2019-11-18 00:14] Neustradamus commented on #79
@Diftraku: It is solved since the long time?

[2019-11-18 06:34] anselal commented on #1844
It was a PITA migrating. Zentyal 6 was essentially slower in my machine. Besides that, Zentyal 6 has by default disabled the option "Filtering rules from external networks to internal networks" for some reason and it was very hard to find how to enable it.

I don't know why they disabled it and why it was not documented.

I had to edit `/usr/share/zentyal/modules/firewall.yaml` and add the option

[2019-11-18 06:49] mmiat commented on #1870
@Neustradamus for me yes

[2019-11-18 06:49] mmiat commented on #1819
@Neustradamus for me yes

[2019-11-18 07:05] kedarapte27 commented on #1870
Yes for me.

On Mon, 18 Nov, 2019, 4:56 AM Neustradamus, <notifications@github.com>
wrote:

[2019-11-18 07:29] carlos-mora commented on #1872
Nope. This issue was ignored and closed. According to their answer, they have no way to reproduce it. I'm pretty sure they haven't tryed, or did'nt read the issue and when it appears.
I haven't reintalled it since this issue showed up, so I don't know

[2019-11-18 09:16] unquietwiki commented on #1863
@Neustradamus I don't have the environment setup for that anymore; I don't even work for the company I was trying that anymore either. Hopefully someone else can check it out; due apologies.

[2019-11-18 12:38] Neustradamus commented on #1872
@carlos-mora: Can you look with an up-to-date server and open a new ticket if always here?

[2019-11-18 12:45] Neustradamus commented on #1844
@anselal: Thanks for your reply!
You do not have informations about your minor issues?
Changes can be integrated, I think...

@brunolorente: What do you think about "ExternalToInternalRuleTable"?

[2019-11-18 12:50] Neustradamus commented on #1870
@mmiat, @kedarapte27: What have you done exactly?
Maybe it is needed to add a service restart?

[2019-11-18 17:21] mrPsycho commented on #1817
no, how?

[2019-11-18 17:22] mrPsycho commented on #1815
because nobody cares, and we are switched to nethserver.

[2019-11-18 17:23] mrPsycho commented on #1815
because workaround works.

[2019-11-18 17:26] mmiat commented on #1870
@Neustradamus simply update and reboot

[2019-11-18 19:07] carlos-mora commented on #1872
@Neustradamus thanks for your interest. When I posted this issue, I tryed several releases, always intalling ONLY the ftp package, and always takes you to an unusable installation. Haven't tried too install Samba or other modules, and currently there is no interest in my company for Zential anymore. KR.

[2019-11-18 20:49] anselal commented on #1844
It's been a long time since I tried my config but for some reason I had issues with accessing some resources on the internal network.

Maybe I ported something wrong, couldn't tell at that time and had no time to investigate

[2019-11-21 18:20] mokkin commented on #856
Sorry, I'm not using zentyal anymore.

[2019-11-23 19:41] imrelaszlo commented on #1845
In my case, the problem was with the primary DC. After I un/reinstalled domain controller role and review all setting (DNS!) I can join Zentyal as an additional DC.

[2019-11-24 03:36] Neustradamus commented on #1845
@imrelaszlo: So the problem was the primary DC?
What have you changed exactly?

[2019-11-24 13:44] imrelaszlo commented on #1845
I don't know what was the exact problem. Maybe with DNS service. When the primary DC was installed, DNS role was preinstalled with the domain as forward lookup zone if I remember correctly. AD integration was set up later. Records are updated, but now I see, _mscds records are not in the same structure. Additional info: first installation created with default forest / domain level, and before I tr

[2019-11-24 18:59] Neustradamus commented on #1845
@imrelaszlo: Thanks! :)

It is not possible to have temp VMs with the same environnement/problem?

@brunolorente can you look?

[2019-11-24 19:02] imrelaszlo commented on #1845
Sorry, the servers was phaysical ones, and now they are in production. :( The primary DC OS was Win 2019 Essentials for additional info.

[2019-11-27 01:23] pcttech opened #1921 "How should a security issue be reported?"
What is the preferred mechanism to report security issues that may not be appropriate to disclose publicly on GitHub? I've found a (likely-minor) security issue that I would like to responsibly disclose, but I have not found any information on how to share such reports with the Zentyal team privately.

Thanks!

[2019-11-28 12:06] ryanhunt opened #1922 "Spelling mistake on Initial Setup screen"
On first login to the webui, I'm presented with a screen that says:

"Thank your for choosing Zentyal, only few steps left to start enjoying it:"

I think it meant to say

"Thank **you** for choosing Zentyal, only **a** few steps left to start enjoying it:"

[2019-11-30 21:36] Facsimiler opened #1923 "OpenVPN rejects certificates whose CN starts with specified CN prefix"
**Describe the bug**
Under `VPN/Servers/Configuration`, there's a property **Client authorization by common name**, which states:

_If disabled, any client with a certificate generated by Zentyal will be able to connect. If enabled, only certificates whose common name begins with the selected value will be able to connect._

If this field is set to `disabled`, then _OpenVPN_ clients using a _Zenty

[2019-12-02 04:45] dudumao520 opened #1924 "Zentyal-virt-report error"
**Describe the bug**
Failed to start the virtual machine. After the configuration is completed, the error "error > sudo. PM: 240 ebox:: sudo:: ﹣ rooterror - root command / var / lib / zentyal / machines / test001 / manage. Sh start failed."

**All screenshots**
![001](https://user-images.githubusercontent.com/12032241/69931255-8b091400-1501-11ea-845d-dd55ee7be126.png)
![002](https://user-images.gi

[2019-12-02 04:48] dudumao520 commented on #1924
zentyal 6.1 DEV Edition

[2019-12-02 04:49] dudumao520 commented on #1924
Zentyal Dev Edition 6.1 UBU18.04 LTS

[2019-12-02 18:50] burkeazbill opened #1925 "6.1 Broke new DNS entries"
**Describe the bug**
Prior to the 6.1 release, using the Zentyal web interface to add a new DNS entry resulted in being able to resolve entries. Now, the entry is added to the web ui, but NOT added to the actual zone file (have only tested/verified with AD integrated zone).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to DNS
2. Add new host entry with valid IP
3. Save changes
4. Attemp

[2019-12-05 16:55] #1920 closed

[2019-12-05 19:54] Neustradamus commented on #1920
Thanks @brunolorente for this change!
One problem in less:
- https://github.com/zentyal/zentyal/commit/68f2b755aca6c202f7fb384bff11f48e5d2f9ba7

[2019-12-05 19:54] Neustradamus commented on #1878
Thanks @brunolorente for this change!
One problem in less:
- https://github.com/zentyal/zentyal/commit/68f2b755aca6c202f7fb384bff11f48e5d2f9ba7

[2019-12-05 19:54] Neustradamus commented on #1902
Thanks @brunolorente for this change!
One problem in less:
- https://github.com/zentyal/zentyal/commit/68f2b755aca6c202f7fb384bff11f48e5d2f9ba7

[2019-12-05 20:28] Neustradamus commented on #1925
@burkeazbill: It is solved now?

[2019-12-06 00:03] burkeazbill commented on #1925
@Neustradamus - I have not had an opportunity to check the 6.1.1 ... It seems that brunolorente closed this and linked a change.. I don't see how/why that change would resolve this issue. I had to re-deploy 6.0 and will NOT upgrade without a pre-upgrade Snapshot (VMware) of the VM running this.

[2019-12-06 01:09] sat-dish commented on #1925
Changing "allow_duplicated_ips = yes" does not fix this issue. You still can not resolve new DNS entries, but it does fix the #1920 issue.

[2019-12-06 02:27] Neustradamus commented on #1925
@burkeazbill: Thanks for your reply!
@sat-dish: We are okay, it is for this that I have done my comment ^^
Several times, tickets are closed before the solution, it is not good.

[2019-12-06 17:51] Stibila commented on #1925
This is not yet fixed and issue should not be closed.
I installed new Zentyal server today and spent hours debugging this issue. Until this is fixed, I found that temporary solution is to manually add DNS entries to samba either with samba tool, or from any Windows machine with DNS Server Tools (part of RSAT).

[2019-12-06 18:12] stetho commented on #1925
It is ridiculous that
1) This bug got through the testing
2) This bug makes Zentyal unusable but they don't seem to care.
3) I'm hoping that closing this bug was a mistake because the fix does nothing.

[2019-12-06 18:31] sat-dish opened #1926 "Bug 1925 is not resolved"
See closed bug 1925, The reported solution did not solve the issue.

[2019-12-07 20:31] brunolorente commented on #1922
Hi @ryanhunt, thank you for reporting this.
We are going to add it to our roadmap.

Regards!

[2019-12-07 20:56] mrPsycho opened #1927 "REinit DNS"
**Is your feature request related to a problem? Please describe.**
I have several issues with zentyal, and all of them are related to DNS.

**Describe the solution you'd like**
A way how to reinit DNS service.

**Describe alternatives you've considered**
now only full reinstall will work... slow and not cool to use.

[2019-12-07 20:58] brunolorente commented on #1926
Hi @sat-dish

as the commit 68f2b755aca6c202f7fb384bff11f48e5d2f9ba7 says, it was a semantic versioning error in our repository, we have release a new version of dns package.

The error was fixed, closing the issue.

In order to tray to have all the issues well formed, at the next time, please, if you wish, try to use the bug issue template.

thank you

[2019-12-07 20:58] #1926 closed

[2019-12-07 21:00] brunolorente commented on #1927
Hi @mrPsycho

We just added the issue templates, and we have already release a new DNS package 1 minute ago, so... if you wish, try the new package, and then if you have some issue, please use our template, I think we can work better using this feature.

Many thanks for your time!

[2019-12-07 21:00] #1927 closed

[2019-12-07 21:40] brunolorente commented on #1925
Hi everyone,

The bug was caused by a control versioning mistake in our repository, we publish a package which have different code than github, in october, we make changes that affects to DNS module and DDNS feature... these changes weren't uploaded to our packages repository...

We just publish a new package a minute ago with the right code, we have tested it and the bug is fexed.

Sorry for all

[2019-12-07 21:42] brunolorente commented on #1925
As additional info... you need to update the dns module from your Zentyal machine to check the fix

[2019-12-07 21:55] Neustradamus commented on #1925
@brunolorente: Thanks for your reply!
Have you checked other code too?
If you have done other changes which are not in this repository?
But how it is possible to have a code which is not here?

[2019-12-08 13:17] brunolorente commented on #1925
@Neustradamus there is no other code repository, I mean the package(apt) repository. The changes applied in the commit 5196c981bc077e148118180dd29587d603f89264 weren't applied properly to the apt repository, so I have taken advantage of the small change in commit 68f2b755aca6c202f7fb384bff11f48e5d2f9ba7 to increase the dns package version, by this way, you will be able to update the package from y

[2019-12-08 13:17] #1925 closed

[2019-12-08 18:48] mrPsycho opened #1928 "DNS error"
**Describe the bug**
Fresh zentyal upgrade and any change in dns leads to:
![image](https://user-images.githubusercontent.com/883964/70394137-b062ba00-19fa-11ea-8d31-67b6b464aa27.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://192.168.2.100:8443/DNS/View/HostIpTable?directory=DomainTable/keys/dmn1/hostnames/keys/hstn8/ipAddresses&undefined&'
2. Click on 'Edit'
3. Change v

[2019-12-08 18:49] mrPsycho commented on #1927
Ok, raised #1928

[2019-12-09 09:20] Stibila commented on #1925
Thanks, I just upgraded and it is fixed. This could be explained better, I didn't think to do another apt upgrade, since I installed and upgraded fresh server short time before new release was pushed to apt repo.

[2019-12-13 04:08] #1922 closed

[2019-12-13 12:46] brunolorente commented on #1919
Hi @Neustradamus,

We offer the same version than Ubuntu. Zentyal is based on the latest Ubuntu LTS (18.04.3) so we are using samba 4.7

[2019-12-13 12:46] #1919 closed

[2019-12-13 16:41] brunolorente commented on #1928
Hi @mrPsycho,

We have tried it many times, but we couldn't reproduce this issue.

Talking about the log, this could happens when the IP addrress of the server is changed in DNS module. I recommend you to try to disable the dc and DNS modules, and then enable them again.

Anyway, if you wish, you could share this info in our forum in order to ask other opinions about this.

[2019-12-13 16:47] brunolorente commented on #1924
We couldn't reproduce this issue, and this is the first time that we have been notified about this...

Additionally you can check your zentyal.log and libvirt/* in order to find more info.

Anyway, many thanks for your report @dudumao520 !

[2019-12-13 16:47] #1924 closed

[2019-12-13 16:50] brunolorente commented on #1923
Hi @Facsimiler

When you set the certificate of the client in the configuration, the parameter added to the configuration is 'verify-x509-name', and this parameter can be configured with some other options like 'name-prefix'. For more information, please read the documentation https://openvpn.net/community-resources/reference-manual-for-openvpn-2-4/

Thank you for your time!

[2019-12-13 17:09] brunolorente commented on #1918
Hi @Neustradamus ,

This bug was fixed in Zentyal 6.1, below you have the commit 5196c981bc077e148118180dd29587d603f89264

Closing as duplicated by #1900

[2019-12-13 17:19] brunolorente commented on #1921
Hi @pcttech

First of all, many many thanks for your interest!

In order prevent spammers, you could send me the info via PM through [our forum](https://forum.zentyal.org/).

My username is blorente

[2019-12-13 17:57] pcttech commented on #1921
I registered but I am not allowed to send private messages yet. What's next?

[2019-12-13 18:21] Facsimiler commented on #1923
This verification should be done on the server side (if clients can authenticate themselves, then there is no security), using the information entered on _Zentyal_'s VPN server configuration page. If I have to edit the server config manually to support the configuration I've entered, then why have that configuration page? Also, it's going to get overwritten when the master version is replaced. I d

[2019-12-13 19:39] mrPsycho commented on #1928
but if i disable dc - it will delete all data, won’t it?

[2019-12-14 04:26] Facsimiler commented on #1923
@brunolorente

This fix is important for a number of reasons, but the primary one is to be able to revoke the certificate of a _specific_ client.

For example, let's say I have a _Zentyal_ VPN server, for which there are four clients. Each client is assigned a separate certificate, named `clientA`, `clientB`, `clientC` and `clientD`. I need to create another certificate, named `client`, which is i

[2019-12-16 09:36] iotaka opened #1930 "dhcp-dyndns.sh DENIED by apparmor"
Version: 6.1 with latest updates.

Checking /var/log/syslog I see this

`kernel: [604115.827564] audit: type=1400 audit(1576451873.638:2550): apparmor="DENIED" operation="exec" profile="/usr/sbin/dhcpd" name="/usr/share/zentyal-dhcp/dhcp-dyndns.sh" pid=19326 comm="dhcpd" requested_mask="x" denied_mask="x" fsuid=112 ouid=0`

is present on all my AD.

Thank you, cheers

[2019-12-17 17:25] #1915 closed

[2019-12-17 17:25] #1916 closed

[2019-12-17 17:34] Neustradamus commented on #1916
@brunolorente: Thanks for your changes but it is not complete, please read again!

[2019-12-17 17:46] brunolorente commented on #1930
Hi @iotaka ,

we are already working on it, at this moment, you can set the dhcpd profile as 'complain' mode in Apparmor in order to allow the system uses the script. The command is:

`aa-complain /usr/sbin/dhcpd`

[2019-12-17 17:49] brunolorente commented on #1923
OK @Facsimiler your explanation makes sense, I have seen your PR but we are going to need a bit of time to evaluate other considerations. Until we fix it i'm going to maintain this ticket opened.

MANY many thanks for your time!

[2019-12-17 17:51] brunolorente commented on #1921
Ok,

Tomorrow I'll talk with the forum admin about this

[2019-12-17 18:06] Facsimiler commented on #1923
@brunolorente Sure. Given that this involves the security of the VPN server, it makes sense that you'd want to consider everything in more detail. Please let me know if there's anything I can do to assist with that.

Thanks for re-opening this issue!

[2019-12-18 07:50] Neustradamus opened #1931 "brunolorente contact? email?"
@brunolorente: It is hard to talk with you!

What is your email address?

Comments are always not seen by you?

About the last changes, it is not complete!

Look my comment on https://github.com/zentyal/zentyal/issues/1916...

[2019-12-18 10:22] iotaka commented on #1930
@brunolorente thank you :)

[2019-12-18 11:00] brunolorente commented on #1931
Hi @Neustradamus

I do read all the bug reports and comments, but do not necessarily have time to respond each and every one of them with detail. Some are closed quickly because they are simply not relevant and we want to keep the tracer as clean as possible. I might be wrong in some cases, but then again, it is easy to re-open if necessary.

Please note that one of the main purposes of GitHub (fo

[2019-12-18 11:00] #1931 closed

[2019-12-19 18:52] brunolorente commented on #1822
@unquietwiki I'm going to have more time now (we already have released the new zs version) so this issue and your PR will probably be one of my highest priorities ...

I would like to appreciate it your cooperation and your attention.

Many thanks for your time :)

[2019-12-19 19:57] mrPsycho commented on #1928
hello?

[2019-12-19 20:19] mrPsycho opened #1932 "DNS Error... another instance on 6.1.2"
**Describe the bug**
can't edit dns.
error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. go to dns
2. add hostname
3. add ip
4. see error in dns

**Expected behavior**
no errors

**Zentyal OS (please complete the following information):**
 - Version: 6.1.2
 - Version of the module which has the bug:  zentyal-dns-6.1
 - Modules installed:
zentyal/unknown,unknown,now 6.1ubuntu1 all [

[2019-12-20 02:40] unquietwiki commented on #1822
Hey @brunolorente . I might be able to help with this again; my new job of the past few months has had some occasional use for SMB/AD, so I might have reason to put this to use. How would you like me to proceed?

[2019-12-20 09:02] Neustradamus commented on #1921
@brunolorente: Can you update the forum software too?

More one year after, it is not done:
- https://github.com/zentyal/zentyal/issues/1846

[2019-12-20 09:06] Neustradamus commented on #1928
@brunolorente: Please reply!
I do not understand that when people comment tickets, why do you not reply?
We always need to create new ticket...

[2019-12-20 09:09] Neustradamus commented on #1822
Nice to learn it, IPv6 is really important!
In the webadmin, it is important to have a section to select:
- IPv4 only
- IPv6 only
- IPv4 and IPv6

[2019-12-20 13:18] brunolorente commented on #1921
@pcttech, you should be able to send me PMs at the forum.

[2019-12-20 13:21] Neustradamus commented on #1921
Warning : The forum is not secured (very old, with security vulnerabilities)

@brunolorente: I have requested you a better possibility to contact you here:
- https://github.com/zentyal/zentyal/issues/1931

[2019-12-20 16:17] djoven89 commented on #1932
Hi @mrPsycho,

We couldn't reproduce your issue.

Please note that when the special user 'dns-your_hostname' doesn't belong to the domain group '**DnsAdmins**' the DNS operations display errors regarding 'update failed: REFUSED'.

Best regards, Daniel Joven.

[2019-12-20 16:17] #1932 closed

[2019-12-25 10:32] stefanmikroe opened #1933 "Zentyal 6.0.3 automatic updates"
Hi,

As an additional domain controller, Zentyal 6, I don't have a feature to turn off automatic updates(see picture below).
![zentyal automatic updates](https://user-images.githubusercontent.com/45256129/71443220-0bd6bc80-270a-11ea-8880-7dc132720b4e.jpg)

How can I turn it off?

[2019-12-25 11:03] stefanmikroe commented on #1845
I just found a different way. Skipped the pre-conf(domain join) on installation and later I have configure it.

[2019-12-25 21:07] Neustradamus commented on #1845
@stefanmikroe: Thanks for your remark!
@brunolorente: can you see the problem?

[2019-12-26 08:46] mrPsycho commented on #1932
this is cool, but how to add this 'dns-your_hostname' to `DnsAdmins`?
any link to documentation?

again, this problem rised up after migrating from previous versions of zentyal to the latest one.

[2019-12-26 08:52] mrPsycho commented on #1933
to turn off updates you can comment all repos in /etc/apt/sources.list and /etc/apt/sources.list.d/*
to turn it on uncomment.

ps. forget about zentyal. developer don't care anything about free version.
and i don't believe they do something on paid version.

[2019-12-26 08:54] stefanmikroe commented on #1933
I have a commercial version of two servers. First one has that option to turn off, second one doesn't.

[2019-12-26 09:08] mrPsycho commented on #1907
i solved by installing ubuntu on raid (via internal configurator) and then installing zenytal as package.
but internal installer in zentyal - sucked.

[2019-12-26 16:21] brunolorente commented on #1933
Hi @stefanmikroe,

This is an expected behaviour. In community versions you can disable the automatic updates through the WebAdmin, however, in the Commercial versions you must use the configuration file '/etc/zentyal/zentyal.conf' (remember to restart the webadmin module after make any change).

About the suggestion of @mrPsycho , we don't recommend you to comment out a repository as a way to cha

[2019-12-26 16:21] #1933 closed

[2019-12-26 16:31] testdeploys commented on #1932
Hi @mrPsycho   ,

Please note that these kind of questions should be asked in the forum. Anyway, you have the command '**samba-tool**' which is a powerful tool to manage the Domain Controller, for example, here you have two commands for your particular task:

    samba-tool group listmembers DnsAdmins
    samba-tool group addmembers DnsAdmins dns-yourhostnameserver

[2019-12-26 16:38] stefanmikroe commented on #1933
Thank you! It works...

[2019-12-28 00:19] killmasta93 opened #1934 "samba shares.conf overwritten after reboot"
**Describe the bug**
samba shares.conf overwritten after reboot, aftering adding config in /etc/samba/shares.conf gets overwritten after reboot

**Zentyal OS (please complete the following information):**
 - Version: [ 6.1]
 - Version of the module which has the bug [e.g. zentyal-dns-5.0.3]
 - Modules installed [DNS, DHCP AD

[2019-12-28 19:56] mrPsycho commented on #1932
@testdeploys cool!

[code]

and rechecked - it worked!
thanks a lot.

why i'm asking there - because this is a Zentyal. And a lot of customizations already implemented... And i'm not a programmer to investigate how deep dependencies are.
In another topic, for example, developer says to use as much as possible internal instructions... so if i got error after upgrade - who should be the first place

[2019-12-30 09:46] djoven89 commented on #1934
Hi @killmasta93

That's a normal behaviour, please, read about '**stubs**' in the documentation. [Here](https://doc.zentyal.org/en/appendix-c.html#stubs) you have the section that you need.

Best regards, Daniel Joven.

[2019-12-30 09:46] #1934 closed

[2020-01-02 13:33] wintelkiller opened #1935 "Zentyal 6[.1] installation issue 1"
During Installation of Zentyal 6[.1] the system tries to load files from the repositories on the server.
This will be quitted with an errors.
After manual re-establishing of the ipv4-setting of the interface "eth0", the installation can be continued using "sudo apt update --fix-missing".

[2020-01-02 13:42] wintelkiller opened #1936 "Zentyal 6[.1] installation issue 2"
1. During Installation of Zentyal 6[.1] as a secondary domain controller, there is no "/etc/samba/smb.conf" file present. So SMBD and NMBD processes deny to start.
2. Also there is no possibility of LDAP clients to connect properly to the service on the primary server.

[2020-01-02 21:37] Neustradamus commented on #1932
@djoven89, @testdeploys, @mrPsycho: Why it is not automatic?

[2020-01-02 21:45] Neustradamus commented on #1907
@brunolorente, @djovn89, @testdeploys, @mrPsycho: It is possible to add possibility in Zentyal installer?

[2020-01-02 21:48] Neustradamus commented on #1907
@brunolorente, @djoven89, @testdeploys, @mrPsycho: It is possible to add possibility directly in Zentyal installer?

[2020-01-02 21:49] Neustradamus commented on #1845
@brunolorente, @djoven89, @testdeploys: Have you looked?

[2020-01-02 21:50] Neustradamus commented on #1928
@brunolorente, @djoven89, @testdeploys: Can you look it?

[2020-01-02 21:56] Neustradamus commented on #1924
@dudumao520: It is solved?

[2020-01-02 21:57] Neustradamus commented on #1916
@brunolorente, @djoven89, @testdeploys: Can you look it?
It is not complete!

[2020-01-02 22:03] killmasta93 commented on #1934
Thank you so much that did the trick

[2020-01-03 17:07] brunolorente commented on #1916
Hi @Neustradamus,

We considered your suggestion but we discarted some of your points due the Zentyal architecture. Many other points have a higher priority.

Anyway, remember that you can create Pull Requests to improve the Zentyal features or help the community by creating a post with your hardening/tips contribution in our forum.

Happy New Year!

[2020-01-03 17:14] djoven89 commented on #1936
Hi @wintelkiller,

Please, use the available template to create the issue, otherwise, we will close the issue.

[2020-01-03 17:14] djoven89 commented on #1935
Hi @wintelkiller,

Please, use the available template to create the issue, otherwise, we will close the issue.

As an additional information, until you reboot the Zentyal server after the installation have been complete, you will have an entry in the '**sources.list'** file which points to a temporal repository located in the server.

Happy New Year!

[2020-01-03 17:16] djoven89 commented on #1932
Hi,

The special DNS user is automatically added to the DnsAdmins group, however, sometimes it is just removed from the group. That's why it is important to have the Zentyal server monitored.

I recommend to use the [smart-admin-report](https://github.com/zentyal/zentyal/blob/master/main/core/src/scripts/smart-admin-report) script to have a daily report with the status of the server, and also, mon

[2020-01-03 17:17] djoven89 commented on #1928
Hi @mrPsycho,

Disabling a Zentyal module just stops the daemon which manages the module, for example, if you disable the Domain Controller module, Zentyal will stop the daemon 'samba-ad-dc'.

Also, note that there are modules which have dependencies, for example, you have enabled the Mail module and you want to disable the DNS module for some reason, when you do this action, the modules Mail and

[2020-01-06 23:07] killmasta93 opened #1937 "Samba Issue with shadow copy"
**Describe the bug**
The time in the shadow copy does not show correct on the windows previous versions, as soon as i put shadow:localtime = yes and restart samba does not show previous versions which therefore i have to put shadow:localtime = no
Currently using pyznap for the snapshots of the ZFS file system
see pictures on the times not correct but both windows and zentyal have the correct time

[2020-01-07 05:05] killmasta93 commented on #1937
edit: checking the logs found this as soon as i put shadow:localtime = yes

[code]

[2020-01-08 09:57] djoven89 commented on #1937
Hi @killmasta93 ,

Please note that the issue you have is with a custom Samba configuration but not with a feature that Zentyal provides. For this cases you have to use the Zentyal's forum instead of Github.

[2020-01-08 09:57] #1937 closed

[2020-01-08 09:58] djoven89 commented on #1935
Closing the issue because you didn't follow the template.

[2020-01-08 09:58] #1935 closed

[2020-01-08 09:59] djoven89 commented on #1936
Closing the issue because you didn't follow the template.

[2020-01-08 09:59] #1936 closed

[2020-01-10 10:19] MurzNN opened #1938 "[regression] All new LDAP users got 65534+ uid instead of 2000+"
**Describe the bug**
On Zentyal 6.1 default setup, created via Zentyal users got user ids, starting from 65534 (Guest) and increasing (user2 is 65535, user3 is 65536, etc), instead of 2000+, like designed in old Zentyal versions. On Zentyal 4.x user ids was in 2000+ range.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Zentyal Domain Controller with default settings.
2. Create new u

[2020-01-10 10:23] MurzNN commented on #1938
Here is forum thread about this bug: https://forum.zentyal.org/index.php/topic,34843.0.html

Seems the source of problem is in `/usr/share/perl5/EBox/Samba/User.pm` code, that generates new user id:
[code]

It lookups to max user id, but Zentyal create Guest user id with hard-coded 65534 id in `/usr/share/perl5/EBox/Samba/SecurityPrincipal.pm` :
[code]

So after creating Guest user on Zentyal defa

[2020-01-10 10:47] MurzNN commented on #1938
My quick solution for this bug is to check only id's less than 65534, here is modified code:
[code]
Is this right way to fix problem?

[2020-01-13 08:17] wirdo89 opened #1939 "Sharing folders in SOGo is not working."
**Describe the bug**
When sharing a folder inside SOGo the permissions are gone right after saving it.

**To Reproduce**
Click on the 3 dots and share a certain folder.
Search for the user which needs the permissions, select the needed check boxes and save.

Once saved you can either open the dialog again or refresh which results in the permissions being gone.

**Expected behavior**
I expected the

[2020-01-13 08:33] wirdo89 commented on #1939
I also wonder (perhaps it's not the right place here); Shouldn't we have been offered the 6.1 update by now? Perhaps that solves the issues we're facing but I don't get an option to update.

[2020-01-23 09:25] jduleba opened #1940 "Zentyal Statement not recognized: 'set vendor-class-identifier = "MSFT 5.0";'"
We've encountered an issue in dhcp module
[code]
Do you have any idea how to solve those issue
Best regards

[2020-01-24 09:35] #1940 closed

[2020-01-24 09:35] djoven89 commented on #1940
Closing the issue because you didn't follow the template.

[2020-01-24 18:10] FatPopDoWop01 opened #1941 "Vacation responder missing after Zentyal upgrade to 6.1"
Upgraded a client's Zentyal server from 6.0 to 6.1 (Development Edition) last weekend, and one user tried to activate Vacation for this weekend and it is now missing. It was working perfectly in previous version, but now is not even an available option.

[2020-01-24 18:30] FatPopDoWop01 commented on #1941
This was not a fault in the software. Rather it was a changed setting which may have been a result of the upgrade scripts. I fixed this by editing /usr/share/zentyal/stubs/sogo/sogo.conf.mas and changing SOGoVacationEnabled = NO;
 to
SOGoVacationEnabled = YES;
 and then stopping and starting the SOGo Webmail module in the Zentyal Module Status page. Logging into the SOGo webmail interface and goin

[2020-01-24 18:30] #1941 closed

[2020-01-26 17:35] killmasta93 opened #1942 "Issue with inheritance on shared folders"
**Describe the bug**
I create the folder inside shares, called test folder then i go to a windows server which is in the domain to disable the inheritance and only want that folder to be shared with the user test and the admin but i get the error permission denied

**Screenshots**
![image](https://user-images.githubusercontent.com/13953629/73139100-5bc1df80-4038-11ea-9890-a76c01d8b3ed.png)

**Zent

[2020-01-27 04:12] killmasta93 commented on #1942
it was  ZFS issue as the samba share is on ZFS

[2020-01-27 04:12] #1942 closed

[2020-01-27 19:27] killmasta93 opened #1943 "Issue with Computer Name not changing"
**Describe the bug**
Currently changed name of a PC which was illustrator-pc to illustrators-pc adding the s at the end i check on zentyal web and it does not change

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/13953629/73206491-04437280-4111-11ea-942e-a0306d7e361f.png)
![image](https://user-images.githubuserconten

[2020-01-28 02:16] Neustradamus commented on #1942
@killmasta93: The solution?

[2020-01-28 02:18] Neustradamus commented on #1941
@FatPopDoWop01: Upgraded script problem?

[2020-01-28 02:18] killmasta93 commented on #1942
oh sorry forgot to mention ran these commands on zentyal which has the disk ZFS

[code]

[2020-01-28 02:19] Neustradamus commented on #1940
@jduleba: Can you publish a good ticket?

[2020-01-28 16:40] djoven89 commented on #1938
Hi @MurzNN ,

Thank you for the contribution, but I'm afraid that in this case, the behaviour is correct. In the recents versions of Zentyal we configured those Domain UIDs to ensure that there isn't any conflicts with the existing system UIDs or future UIDs for new users, etc.

So, we don't recommend to change this behaviour in order to avoid future issues.

Thanks again.

[2020-01-28 16:44] djoven89 commented on #1939
Hi @wirdo89 ,

The solution is in the same forum's thread that you answered. We recommend you to give more details about your behaviour and wait until one user help you with your goal.

The link is: https://forum.zentyal.org/index.php/topic,33589.msg110860.html

Best regards.

[2020-01-28 16:44] #1939 closed

[2020-01-28 18:31] MurzNN commented on #1938
So, you think that default user ID for first Zentyal user 65535 (nobody + 1) on default Zentyal setup, instead of 2500 (like in Zentyal default settings) is normal? This is not normal, this is a bug!

[2020-01-28 20:58] FatPopDoWop01 commented on #1941
When Zentyal upgrades anything it runs more than just apt, and I was wondering if those parts specific to Zentyal may have caused the perceived settings change during the upgrade?

[2020-01-29 05:27] killmasta93 commented on #1943
update: changed the name of the pc again to pc-01 funny thing on properties shows the pc-01 but on the folder of computers still show the old name see picture

![image](https://user-images.githubusercontent.com/13953629/73330195-149d3f80-422e-11ea-8b5e-85b05c8a8938.png)

[2020-01-29 06:45] MurzNN commented on #1938
In file `/usr/share/perl5/EBox/Samba/SecurityPrincipal.pm` there are **Zentyal** code, that force set 65534 uid for Guest user:
[code]

So, behavior is that Zentyal at installation creates by himself two users:
- Administrator with uid = 2000
- Guest with uid=65534

And after this - apply for all users uid = 65534+, instead of 2000+!

[2020-01-31 06:32] MurzNN commented on #1938
Another (seems better) fix for this bug is skip checking guest user, using `/usr/share/perl5/EBox/Samba/User.pm` function `isGuest()`, here is code:
[code]

[2020-02-08 10:58] renne commented on #1822
German cellular operators (e.g. Deutsche Telekom, see https://telekomhilft.telekom.de/t5/Blog/Neuer-IPv6-Zugang-zum-mobilen-Internet-im-Netz-der-Telekom/ba-p/4254741) are switching customers to IPv6-only with NAT64 + DNS64 + 464-XLAT. German cable-ISPs use Dual-Stack Lite for years.

In my opinion IPv6 is very important for native connectivity without unreliable protocol translation.

[2020-02-08 15:24] renne opened #1944 "Add support for DNS-based Authentication of Named Entities"
**Is your feature request related to a problem? Please describe.**
The [german data privacy seal](https://www.bsi.bund.de/SharedDocs/Downloads/DE/BSI/Publikationen/TechnischeRichtlinien/TR03108/TR03108-2.pdf?__blob=publicationFile&v=4) requires [DNS-based Authentication of Named Entities](https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities) for email transport.

**Describe the

[2020-02-10 12:30] renne opened #1945 "Add support for Wireguard VPN"
**Is your feature request related to a problem? Please describe.**
OpenVPN, IPSec, etc. are complicated to configure and the outdated encryption algorithms are performance hogs.

**Describe the solution you'd like**
Add support for [Wireguard VPN](https://www.wireguard.com/) in Zentyal web-interface.

**Describe alternatives you've considered**
OpenVPN, IPSec, Cisco AnyConnect.

**Additional conte

[2020-02-16 11:44] mrPsycho opened #1946 "Can't install zentyal-samba on 18.04.4 - libauthen-krb5-easy-perl is not installable"
**Describe the bug**
After fresh install of ubuntu server 18.04.4 and using https://wiki.zentyal.org/wiki/Installation_Guide#Zentyal_Installer_script it is not possible to install zentyal-samba.

**To Reproduce**
Steps to reproduce the behavior:
1. go to ubuntu.com and download http://releases.ubuntu.com/18.04.4/ubuntu-18.04.4-live-server-amd64.iso
2. install server with default settings
3. reboot

[2020-02-16 20:43] renne opened #1947 "Web-interface PPPoE dialog rejects hashtag in username"
Our ISP uses hashtags in the PPPoE usernames. The Zentyal web-interface rejects hashtags in the PPPoE username. Zentyal ISO-image was 6.1. Since upgrading version is Zentyal 6.1.2

This makes Zentyal unusable with PPPoE uplinks (25 Million = 73% of the german internet sockets are xDSL with PPPoE). ISPs have to rent the last mile of xDSL sockets from Deutsche Telekom GmbH which leads to the usernam

[2020-02-20 11:12] KOV70 commented on #1899
I changed the config a bit, now everything works.
Here is my piece of config:

mod_shared_roster_ldap:
    ldap_rfilter: "(objectClass=user)"
    ldap_ufilter: "(&(objectClass=userJabberAccount)(sAMAccountName=%u))"
    ldap_groupattr: "description"
    ldap_groupdesc: "description"
    ldap_memberattr: "sAMAccountName"
    ldap_useruid: "jabberUid"
    ldap_userdesc: "displayName"

We fill in wit

[2020-02-25 07:11] KOV70 commented on #1899
@brunolorente - Please take a look

[2020-02-25 22:14] lukaspavelka commented on #1946
i can confirm this bug on ubuntu 18.04 with installation of

_______________________________________________

________________________________________________

[2020-02-27 14:39] giuseppina-kaiasm opened #1948 "UPS module - reinstate?"
**Is your feature request related to a problem? Please describe.**
A UPS module used to be part of the distro in previous versions. I do not know when it was removed.

**Describe the solution you'd like**
I have a new UPS that can protect 3 servers, I would like to connect it to my domain controller (Zentyal).

**Describe alternatives you've considered**
I could connect it to another server, but t

[2020-03-01 20:58] mrPsycho opened #1949 "Show domain settings in UI with actual state"
**Is your feature request related to a problem? Please describe.**
After migrating from AD to zentyal by manual: https://doc.zentyal.org/en/directory.html#total-migration there are no changes in web UI.
And this is a bit strange - UI should say that this is a primary DC, not a secondary.

**Describe the solution you'd like**
First solution with saving users from pain - block all input on Domain pa

[2020-03-06 14:10] gustisak opened #1950 "Bug in add a new Object"
**Describe the bug**

when trying to add an object on the network such an error always happens

**To Reproduce**
Steps to reproduce the behavior:
1. Go to NETWORK - NETWORK - Insert the name of object , ip and MAC address
2. Click on CHANGE
3. Scroll down to '....'
4. See error "Sinto muito, você encontrou um bug no Zentyal. Cheque por detalhes no arquivo /var/log/zentyal/zentyal.log e leve um min

[2020-03-11 18:12] therabreal commented on #1843
Thanks lostboy1 - solved my issue after upgrading to 6.1

[2020-03-13 14:14] attyhu opened #1951 "Ipsec/L2TP VPN don't start after boot or reboot. Commercial 6.1.2 up to date"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Zentyal OS (please complete the foll

[2020-03-16 16:18] djoven89 commented on #1951
Thanks for your report. Based on this, unfortunately there isn’t enough information to confirm if this is a bug or not and to analyse the causes. Please fill in the bug report template with maximum information possible. On the other hand, if you have a valid support subscription, please open a support ticket in the Zentyal Support Portal. If you have lost your login credentials, please contact sal

[2020-03-25 09:33] kahootali opened #1952 "SRV Records not working"
**Describe the bug**
I am trying to create Openshift Cluster but it needs following SRV records to be created
[code]
but it is not working.

I have added in Networks -> Services -> Add New ->
[code]

And In Domain -> Services

![image](https://user-images.githubusercontent.com/13013437/77521897-30773780-6ea5-11ea-9feb-88a3770d1ad9.png)

But it is not working, I am trying

[code]

or even full url

[2020-03-26 01:14] kmate95 opened #1953 "Upgrade strategy"
This is actually my new favorite script to completely brick and destroy a Linux installation. I won't even try to salvage it...

Didn't even notice it was running while trying to fix a bug with the Samba module.
It blew past the pinned packages that kept the system running on the testing branch.
After installing  perl5.30 most of Zentyal was completely bricked, so the `autoremove --purge` cleaned

[2020-03-26 03:30] Neustradamus commented on #1946
Any news?

[2020-03-27 13:18] brunolorente commented on #1952
Hi @kahootali ,

We have reproduced the issue, and I have added it to our roadmap.
On this link, you'll find a workaround to keep managed your domain: https://wiki.samba.org/index.php/DNS_Administration#Adding_new_records

Thank you very much for your contribution!

[2020-03-27 17:32] brunolorente commented on #1953
Assuming you have hit an issue with your upgrade. In general terms our recommendation is to follow these steps with the upgrades: https://doc.zentyal.org/en/upgrade.html

If you want to report an issue, please follow the bug report template. Best regards.

[2020-03-27 17:32] #1953 closed

[2020-03-30 10:42] kahootali opened #1954 "Unable to create subdomain"
**Describe the bug**
I have created a Domain in zentyal `stakater.io` and added its hostnames like `app.test.cluster.stakater.io` and directed it to an IP and it is working fine.

When i locally run `dig app.test.cluster.stakater.io +short` I am able to get the IP.

But now I want to have a subdomain like `test.cluster.stakater.io` and add hostnames there as I need it for SRV records. When I add a

[2020-03-30 20:23] ethanjosephscott opened #1955 "VPN disconnect after saving changes"
Hey Gang,
With the world as it is we have more remote workers than ever.  Whenever the zentyal webGUI saves changes, it restarts the VPN server and all of the clients disconnect in the process.  Trust me utilizing the built-in VPN and making changes at the same time to the Zentyal server can be a multiple minute process after connections reestablish.  With the way things are now I will have to wai

[2020-03-31 13:44] djoven89 commented on #1955
Hi @ethanjosephscott ,

Depending of the changes that you do in the Zentyal Admin Interface it affects to more or less modules, and when a module is affected, Zentyal restarts it in order to apply the configuration that was set through the GUI.

So, we're sorry but there is nothing we can do to change this behaviour.

Best regards, Daniel Joven.

[2020-04-03 01:38] Facsimiler opened #1956 "Errors running "restore-backup" manually."
**Describe the bug**
I experienced an error configuring _Zentyal_, and now have a non-working machine (this is not the bug I'm reporting). In particular, networking on the machine is non-operative. I need to restore the previous configuration from a backup file, which I have available. However, when I attempt to run the `restore-backup` command from the command line, I am getting a number of error

[2020-04-03 11:34] affenrakete commented on #1946
You can install it by changing  the source list.

/etc/apt/source.list.d/zentyal-archive.list

from
deb http://packages.zentyal.org/zentyal 6.1 main

to
deb http://packages.zentyal.org/zentyal 6.1 main extra

At least the 'extra' bit was missing in my case.

[2020-04-03 11:42] affenrakete commented on #1946
The 'Zentyal Installer script' is missing the 'extra' bit too.
But I did not find the file, to make a commit.

_http://download.zentyal.com/install_

[2020-04-03 20:48] #1951 closed

[2020-04-03 20:49] #1955 closed

[2020-04-03 20:53] brunolorente commented on #1949
Hi @mrPsycho,

This is a thing that I personally though many times... I'mm going to add it to our roadmap.

Many thanks for your time!

[2020-04-03 20:59] brunolorente commented on #1945
Hi @renne,

First of all, many thanks for your time.
We have evaluated this several times, but we decided to maintain OpenVPN because it's a standard ,very stable and maintained project.

best regards!

[2020-04-03 20:59] #1945 closed

[2020-04-03 21:04] brunolorente commented on #1954
Hi @kahootali ,

It could be related with https://github.com/zentyal/zentyal/issues/1952 but I'm not sure if I understood you, so... please, could you give us more feedback?

Many thanks for your time!

[2020-04-03 21:08] brunolorente commented on #1947
Hi @renne ,
I'm personally going to investigate about this, but **just for administrative reasons**... could you open a new issue using the feature request template?

**I think this could be a good enhancement**, so, **please use the template** and then I will glad to add it to our roadmap.

Best regards!

[2020-04-03 21:08] #1947 closed

[2020-04-04 05:24] bradjtrammell opened #1957 "Please offer higher functionality level"
**Is your feature request related to a problem? Please describe.**
Must use Windows Server 2008 R2 as secondary Windows Controller

**Describe the solution you'd like**
I would like to be able to use Server 2012 R2, 2016 or 2019 as Windows 2008 R2 is well over 11 years old, and is EOL by Microsoft's standards.

**Describe alternatives you've considered**
There are not really any other solutions. W

[2020-04-07 23:29] kahootali commented on #1954
Actually the issue is I have a domain `stakater.io` in my Zentyal server, and I want to add sub-domains. E.g.One use case is I want to have `*.apps.test.clusters.stakater.io` hostname but it is not allowed to add `*.apps.test.clusters` in `stakater.io` domain, it gives an error, so I tried to add another domain in the domains page of `apps.test.clusters.stakater.io` and add a hostname with `*` ent

[2020-04-08 09:34] detoxhby commented on #1895
This is still a huge problem. We need to restart samba periodically after a few days for custumers because the disk usage goes up to 100-200GB easily and thus breaks the server (zentyal cannot work as logs cannot be written, redis stops, etc.).

I would appreciate any workaround till this bug will be fixed properly, thanks.

[2020-04-10 06:21] peptoniet opened #1958 "Error restarting DNS module after restoring 4.2.12 to 6.1.2"
**Describe the bug**
After restoring from 4.2.12 backup over clean 6.1.2, user dns-_hostname_ is not in DnsAdmins group, thus failing dns module restart request.  Also, it appears that user dns-_hostname_ has password expired after restoring.

**To Reproduce**
Steps to reproduce the behavior:
1. Install clean 6.1.2 system
2. Restore 4.2.12 backup
3. Try to restart dns module
4. GUI shows error res

[2020-04-12 13:18] caguiar opened #1959 "Reverse DNS zone generation filter"
**Is your feature request related to a problem? Please describe.**
The internal domain of our Zentyal server is the same as the public domain. i.e. ourdomain.pt.
Since we have servers which live in the public domain with a public IP, for them to be accessible from the internal network, I have to configure them in the internal DNS (of course they are also configured on the public DNS).
In the /etc/

[2020-04-15 05:39] Neustradamus commented on #1947
@renne: Have you found a solution for it?

[2020-04-15 05:40] Neustradamus commented on #1945
@brunolorente: Maybe a bug because OpenVPN and WireGuard can work and it is important to have the new solution!

[2020-04-16 22:10] sdotb commented on #1943
Same Issue, looking for solutions. Already tried to remove and rejoin computer from domain.
Thanks

[2020-04-17 02:43] dudumao520 opened #1960 "zentyal-PDC integrated keycloak"
Hello everyone.
I have deployed zentyal-PDC domain controller, I want to integrate with keycloak，but no success

[2020-04-17 15:12] bemark16 opened #1961 "samba status unknow after update zentyal to 6.1.2"
we have a domain transferred from a windows AD.
Samba don't run correctly after we update zentyal to 6.1.2
zentyal.log shows:
&#39; at La petición DNS falló: query timed out (usando servidores de nombres , /etc/resolv.conf fue
&#39;# Dynamic resolv.conf(5) file for glibc resolver(3) generated by resolvconf(8)
# and managed by Zentyal.
#
#     DO NOT EDIT THIS FILE BY HAND -- YOUR CHANGES WILL BE O

[2020-04-18 17:17] jmccoy555 commented on #1849
@RemiNetEU thanks a lot..... you saved my sanity!!!

[2020-04-24 12:43] vnavna01 opened #1962 "No dhcp client after Zentyal reboot 6.1"
**Describe the bug**
After restarting or snapshot restore the Zentyal VM the eth0 network goes offline and I need to run sudo dhclient eth0 to start the network interface again.
This happens in the Developers and Commercial versions of Zentyal.

**To Reproduce**
Steps to reproduce the behavior:
1. Restore a VM snapshot or reboot Zentyal VM
2. After a reboot run ip a or ifconfig to see the output
3

[2020-04-24 19:23] vnavna01 opened #1963 "Unable to join existing domain"
**Describe the bug**
Failure to join an existing Domain

**To Reproduce**
Steps to reproduce the behavior:
4. See error
2020/04/24 14:09:31 INFO> DNS.pm:91 EBox::DNS::appArmorProfiles - Setting DNS apparmor profile
2020/04/24 14:09:38 ERROR> GlobalImpl.pm:652 EBox::GlobalImpl::saveAllModules - Failed to save changes in module samba: root command samba-tool domain join dom.loc DC  --username='admin

[2020-04-25 21:20] Neustradamus opened #1964 "Ubuntu 20.04 is here"
Ubuntu 20.04 is here
- https://ubuntu.com/

[2020-04-27 06:30] CarBee opened #1965 "Can Zentyal Support Master Master Configuration."
Can Zentyal support Master , Master configuration?
When the PDC is down the Secondary cannot be made as a primary one. There are instances where we cannot get a backup of configurations and cannot restore the PDC. Please let us know how we could able to proceed. Or can this be cluster enabled?

[2020-04-27 11:23] #1952 closed

[2020-04-27 11:28] brunolorente commented on #1952
Hi @kahootali ,

I created a new lab in order to test the bug reported and I couldn't reproduce it. I tested your steps with Zentyal 3.2, 4.2, 5.0, 6.1 and I always got the right answer. The steps I did were:

1. I configured the DNS and Domain Controllers modules.
2. I added the 'etcd-server-ssl' service to the configuration file '/etc/services'.
3. I set a few SRV records for this service.
4. I

[2020-04-27 11:33] brunolorente commented on #1964
Two thinks regarding to this:
1. Please, use the provided issue template to report new issues.
2. This is not a bug, so I'll close the issue...

Sorry @Neustradamus... we value the active users like you, but we have a forum to this kind of stuff...

Regards!

[2020-04-27 11:33] #1964 closed

[2020-04-27 11:34] brunolorente commented on #1950
Hi @gustisak ,

We tried to reproduce this bug in Zentyal 6 but we couldn't. It seems that your old Zentyal 3.3 has some issues, but unfortunately, the support for that version expired long time ago.

We highly recommend you to use a supported version in order to have updates from Ubuntu repositories and the new features of Zentyal.

Regards!

[2020-04-27 11:34] #1950 closed

[2020-04-27 11:37] brunolorente commented on #1958
Hi @peptoniet ,

We are aware of this behaviour but we determine that this is a common task for a system administrator when is performing the maintenance of the Zentyal server.

To help system administrators with the maintenance and tasks debugging, we developed a new feature called 'System status report' which provide useful information about the status of the Zentyal server, which includes the u

[2020-04-27 11:37] #1958 closed

[2020-04-27 11:41] brunolorente commented on #1956
Hi @Facsimiler ,

We tried to reproduce it but we couldn't. Did you check if your system's packages are right? Concretely, some perl packages as 'libtrycatch-perl'. I personally fix this issue long time ago...

If you wish, you can contact with sales@zentyal.com and send them the configuration backup and we will do some extra tests.

I'm aware to your PR, I'll will implement it coming soon, probab

[2020-04-27 11:41] #1956 closed

[2020-04-27 11:43] brunolorente commented on #1960
Hi @dudumao520 ,

I'm sorry but this repo is used to report bugs or request a new feature, and also, the provided template must be used.

In your case, you need to create a new thread in the official Zentyal forum and provide all the details you are able to provide in order to get help, for example, the version of Zentyal, the steps and/or errors you did, an image of the keycloak configuration, et

[2020-04-27 11:43] #1960 closed

[2020-04-27 15:15] peptoniet commented on #1958
Dear Bruno,
Thank you very much for your explanation.
I could bear that an administrator would have to handle the expiration, altough it is an INTERNAL and ESSENTIAL account for the system to work, so I think is not acceptable to just pass the responsability to others...
On the other side, it is unbearable that an INTERNAL and ESSENTIAL account does not restore to the ESSENTIAL group were it belon

[2020-04-27 17:28] Facsimiler opened #1966 "VPN fails regularly, because CRL has expired."
**Describe the bug**
Periodically, the CRL (certificate revocation list), managed by _Zentyal_, expires. (This is apparently due to a change in a recent version of _OpenVPN_ / _OpenSSL_.) When this happens, _OpenVPN_ clients with valid client certificates are rejected by the server.

This can be verified from the `/var/log/openvpn/vpnserver.log` log file (where, `vpnserver` is the name of your VPN

[2020-04-29 11:32] JoergEF opened #1967 "zentyal-core is missing"
At the Repository http://packages.zentyal.org/zentyal/pool/main/z/ the folder zentyal-core is missing...

[2020-04-29 16:17] djoven89 commented on #1967
Hi @JoergEF ,

It was a maintenance task, the directory with the package is now available.

Sorry for the inconveniences.

Best regards, Daniel Joven.

[2020-04-29 16:17] #1967 closed

[2020-04-29 19:36] #1923 closed

[2020-04-29 20:12] Neustradamus commented on #1952
@kahootali: Can you test the fix?

[2020-04-29 20:20] Neustradamus commented on #1954
@kahootali: Can you test with the last fix and confirm if it is solved or not?

[2020-04-29 20:54] Facsimiler commented on #1956
@brunolorente Thanks for looking into this, Bruno. I was able to get this resolved by backing up key Perl scripts, manually patching them, then replacing the patched scripts with the backups. I've not looked into this too much more. It appeared that the necessary Perl packages were present.

The root cause seemed to be a permission issue, with some files in the backup being owned by `root.root`, i

[2020-04-29 20:58] Facsimiler commented on #1966
Closing, because this is the same as issue #1883

[2020-04-29 20:58] #1966 closed

[2020-04-29 21:06] Facsimiler commented on #1923
Thanks @brunolorente! I'll make sure I pickup the new version when it's released...

[2020-04-30 11:22] kahootali commented on #1954
@Neustradamus Sorry didn't get you, what do you mean by last fix? The last I tried it didn't work.

[2020-04-30 12:06] Neustradamus commented on #1954
@kahootali: Here: https://github.com/zentyal/zentyal/commits/master

[2020-05-04 00:43] Neustradamus commented on #1954
@kahootali: It is not solved?
Can you confirm?

[2020-05-10 11:54] husisusi opened #1968 "After Upgrade to Zentyal 6.2 antivirus stopped"
I just Upgrade from 6.1 to Zentyal 6.2 and everything seems to be working...
I noticed that the Antivirus has stopped and i can not start/restart it:
![grafik](https://user-images.githubusercontent.com/8606735/81498249-19a96a80-92c4-11ea-8db2-3edc48227155.png)
clamav.log:
Sun May 10 13:41:56 2020 -> Client disconnected (FD 10)
Sun May 10 13:42:01 2020 -> Client disconnected (FD 10)
Sun May 10 13:4

[2020-05-25 16:24] rortega2-github opened #1969 "Zentyal VPN Logs Not working"
**Describe the bug**
Zentyal VPN Full Report Logs do not display anything.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Logs
2. Click on Full Report (Gear)
3. Scroll down to bottom of screen.
4. No Logs display, I only see green bar that states: There are no logs for this domain.

**Expected behavior**
I am expecting to see VPN Logs (ie when sessions started, terminated, not authori

[2020-05-25 19:27] ivosm opened #1970 "After upgrade to Zentyal 6.2 is removed Antivirus and Mail filter"
During the upgrade done through webadmin is removed the package zentyal-antivirus and zentyal-mailfilter because of it depends on it.

The reason are unmet dependencies:

Depends: zentyal-core (>= 6.2.0), zentyal-core (<< 7.0.0), zentyal-firewall,
         libclamav9 (= 0.102.2+dfsg-0ubuntu0.18.04.1), clamav (= 0.102.2+dfsg-0ubuntu0.18.04.1),
         clamav-base (= 0.102.2+dfsg-0ubuntu0.18.04.1),

[2020-05-26 22:39] Daniel-Furcht commented on #1970
Related to this error, its not possible install antivirus module on fresh install wtih development iso 6.2.

[2020-05-27 14:45] petrocc commented on #1970
The error I get (on initial install) is:

The following packages have unmet dependencies:
zentyal-antivirus : Depends: libclamav9 (= 0.102.2+dfsg-0ubuntu0.18.04.1) but 0.102.3+dfsg-0ubuntu0.18.04.1 is to be installed
Depends: clamav (= 0.102.2+dfsg-0ubuntu0.18.04.1)
Depends: clamav-base (= 0.102.2+dfsg-0ubuntu0.18.04.1) but 0.102.3+dfsg-0ubuntu0.18.04.1 is to be installed
Depends: clamav-daemon (=

[2020-05-28 00:08] JAZ-013 commented on #1873
Just FYI.  I'm completely new to Zentyal and I'm installing 6.2 via DEB packages into a LXC container and I get this exact same issue.  Everything was fine installing from an ISO but full virtualisation is too resource hungry.  Installing via DEB package and basically nothing works out of the box.

[2020-05-28 10:22] skeelkat commented on #1970
Successfully installed both zentyal-antivirus and zentyal-mailfilter using the >= dependency trick, however no matter what I do the MailFilter Module will not start.

[2020-05-28 10:54] HAL9OO0 commented on #1970
Same Problem here.

There seems to be a workaround [here](https://forum.zentyal.org/index.php/topic,34976.0.html).

Will the bug be fixed soon or should I consider the workaround?

[2020-05-28 13:20] brunolorente commented on #1914
Hi @Neustradamus ,

To avoid these kind of messages you need a certificate issued by a recognized CA. We recommend to take a look at the Zentyal documentation where it is explained how to implement Let's Encrypt in Zentyal.

[2020-05-28 13:20] #1914 closed

[2020-05-28 13:21] brunolorente commented on #1912
Hi @Neustradamus,

We have decided that this error should be handle by the SysAdmin who manage the Zentyal Server.

[2020-05-28 13:21] #1912 closed

[2020-05-28 13:24] brunolorente commented on #1911
Hi @Neustradamus
We have already added this to our roadmap,  we also have add more hardening stuff to the roadmap.

[2020-05-28 13:26] brunolorente commented on #1908
Hi @Neustradamus ,

Same comment that #1911, in future releases we will managed the Apache2 service which is required for the Webadmin module.

Thank you for reporting this and your contribution.

Best regards,

[2020-05-28 13:29] brunolorente commented on #1906
Hi @Neustradamus ,

Thank sfor your proposal, but we think about the integration between Domain Controller module and Mail is stable and robust, so, we have decided to not implement your request, however, remember that you can use the proper stub to achieve this in your own Zentyal servers.

One more time, many thanks for your contribution.

[2020-05-28 13:29] #1906 closed

[2020-05-28 13:32] brunolorente commented on #1836
Hi @Neustradamus ,

In the official documentation of Zentyal 6.1 we added a new section called "Let's Encrypt configuration2 where we explained how to use Let's Encrypt in Zentyal.

Also, for your information, we still have this item in our to-do list, but, we have other priorities right now.

Best regards, Bruno Lorente

[2020-05-28 13:32] #1836 closed

[2020-05-28 13:38] brunolorente commented on #1970
Hi everyone,

We have confirmed that there is a bug with the zentyal-antivirus package caused by a recent update of the ClamAV package. We are working to fix it as soon as possible. A new zentyal-antivirus version will be released tooday or tomorrow.

On the other hand @ivosm , please, when you need to open a new ticket, use the provided template, by this way we are able to automate several things

[2020-05-28 13:47] brunolorente commented on #1969
hi @rortega2-github

That message is displayd when the requested "log domain" is not enabled, I noticed what you said "I have ensured that Logs in Module Status is enabled", anyway, please, check it out one more time. It may occurs some trouble at the moment of saving changes, disable the log and enable it again.

Take a look at the log file '**/var/log/zentyal/zentyal.log**' in order to see if th

[2020-05-28 13:51] brunolorente commented on #1903
Hi @patphobos ,

Many thanks for your contribution, your change was added to Zentyal 6.1 and Zentyal 6.2. Fixed in 064e2c9825561015d8202888553026b28959e523

[2020-05-28 13:51] #1903 closed

[2020-05-28 13:54] brunolorente commented on #1883
Hi @ tomasz89 ,

The bug have been fixed for Zentyal 6.1 and Zentyal 6.2 in 7d66ea222e3efe8cf335d576686ece3bc297be84, also, we have added a section in the official Zentyal 6.2 documentation (it will be released very soon) regarding to this behaviour.

Many thanks for reporting it and your patience.

[2020-05-28 13:54] #1883 closed

[2020-05-28 13:58] brunolorente commented on #1968
Hi @husisusi ,

We are already working on this, also I've to advice you: Please, follow the provided template to open new issues.

On the other hand, I'm going to close this because we are working on https://github.com/zentyal/zentyal/issues/1970 take a look if you want.

Thanks for your time!

[2020-05-28 13:58] #1968 closed

[2020-05-28 13:59] brunolorente commented on #1946
Hi @mrPyscho,

Many thanks for reporting the issue. The script was updated to use the new Zentyal 6.2

[2020-05-28 13:59] #1946 closed

[2020-05-28 14:00] brunolorente commented on #1963
Hi @vnavna01 ,

We need more information in order to check it in our lab. Could you please provide us more details about the Domain Controller that you are trying to join (OS, version, domain and forest level, etc) ?

[2020-05-28 14:03] brunolorente commented on #1961
Hi @bemark16 ,
This is really hard to read, please, use the provided template when you're going to open a new issue.

I'm going to close this, I'll be pendinng of you to check this on a new "well formed" ticket.

Many thanks!

[2020-05-28 14:03] #1961 closed

[2020-05-28 14:08] brunolorente commented on #1962
Hi @vnavna01

We couldn't reproduce this issue, also, we never get any report about this... We are always working over VMs as you could imagine and we never get any issue like this.

Anyway, you could check the '**/var/log/zentyal/zentyal.log**' and '**/var/log/syslog**' when you get the issue.

Do you have some weird setup for the network module?

Regards!

[2020-05-28 14:14] rortega2-github commented on #1969
I disabled VPN logs, save, enable VPN Logs, save, no errors in '/var/log/zentyal/zentyal.log':

2020/05/28 06:54:11 INFO> GlobalImpl.pm:616 EBox::GlobalImpl::saveAllModules - Saving config and restarting services: firewall logs
2020/05/28 06:54:11 INFO> Base.pm:231 EBox::Module::Base::save - Restarting service for module: firewall
2020/05/28 06:54:15 INFO> Base.pm:231 EBox::Module::Base::save - Re

[2020-05-28 15:31] ivosm commented on #1970
OK I'll take it to heart. I've just given preference the principle of adequacy, i.e. not to spend more time with reporting the bug than to solving it. Especially when title itself is almost enough.
Actually it was a report after few years after I spend some time with reporting few bugs not so easy to reproduce incl. testing the reproducibility on newly installed system but then just the whole bug

[2020-05-29 15:37] mado987 opened #1971 "Zentyal 6.2.0 : DHCP marked as stopped but really is running"
**Describe the bug**

At dashboard, DHCP service is marked as stopped but really it's running.
Same issue as #1820  "Zentyal 5.1 : DHCP marked as stopped but really is running"

Solution is also the same:    systemctl restart tftpd-hpa.service

**To Reproduce**

No idea ....  this seems to happen randomly after a certain period of operation

**Zentyal OS (please complete the following information)

[2020-05-31 12:13] Justinzobel commented on #1970
Hi @brunolorente any update on the new `zentyal-antivirus` release?

[2020-06-01 14:40] krejcar25 commented on #1822
Hi there, I see it didn't quite make it to the 6.2 release. I am curious. What is the holdup and when can we expect IPv6 available in Zentyal? Thanks for the great work you guys do here!

[2020-06-02 04:53] Justinzobel commented on #1970
Can we please have an update on this. The fix appears fairly simple.

[2020-06-02 08:20] wirdo89 opened #1972 "Backup (commercial) adding /root/ to path using rsync while not configured."
It seems that in either the last or the one before that zentyal adds /root/ in front of the destination path.

 Attempt 4 failed. BackendException: Error running 'rsync -e 'ssh  -oBatchMode=yes '  **admin@XXXXXXXX:share/MD0_DATA/zentyal/**': returned 23, with output:

 rsync: change_dir "**/root/share/MD0_DATA/zentyal**" failed: No such file or directory (2)
 rsync error: some files/attrs were not

[2020-06-03 05:40] #1970 closed

[2020-06-03 07:22] gokhansonmez commented on #1873
Same Problem,

I have reinstalled cleanly over and over again. I have repeatedly tried with different names.
I had the same problem. The same problem persists in version 6.2.

[2020-06-03 07:25] Justinzobel commented on #1970
Still getting an error after apt-get update and hitting Update List in Zentyal components area:
![image](https://user-images.githubusercontent.com/1370117/83607791-fe780500-a5ba-11ea-98ef-20e8417ad55b.png)

[2020-06-03 09:26] krejcar25 commented on #1970
That is not even Zentyal's cache or anything, it happens even when `apt install zentyal-antivirus zentyal-mailfilter` is ran from command line, after `apt upgrade`

[2020-06-03 16:56] brunolorente commented on #1970
@Justinzobel you could fix this by different ways. But in my opinion, the best way to do this is uninstalling the antivirus module, run an apt-get update and then, install the last version of antivirus that will be installed without any issue.

I can confirm the issue as fixed, but if you have unmet or broken dependencies, you'll need to act as I said.

Regards!

[2020-06-03 18:17] ivosm commented on #1970
I've just tested installation of antivirus package on zentyal 6.2, where it wasn't installed before and the behavior hasn't changed, i.e. it is still with dependencies like "= 0.102.2" like @Justinzobel reported .
I have only restricted knowledge of deb packaging, but looking at http://packages.zentyal.org/zentyal/, it looks like only the version 6.1.3 was fixed but not the 6.2.0 .

[2020-06-03 19:35] sipi58 opened #1973 "URGENT: After 6.2 upgrade cannot install (removed) Antivirus and Mailfilter"
I upgraded my Zentyal 6.1 to 6.2 last day. I fully updated 6.1 before upgraded it. After upgrade not installed (removed) Antivirus and Mailfilter modules. I tried to install on terminal:

sudo apt-get install zentyal-antivirus

The following packages have unfulfilled dependencies:
Depends on: libclamav9 (= 0.102.2+dfsg-0ubuntu0.18.04.1) de csak 0.102.3+dfsg-0ubuntu0.18.04.1 install
Depends on: cla

[2020-06-03 20:45] nahuuss commented on #1973
Quick & Dirty solution for me:

may not be required, but ...
backup of /var/lib/apt/lists/packages.zentyal.org_zentyal_dists_6.2_main_binary-amd64_Packages
backup of /var/lib/apt/lists/packages.zentyal.org_zentyal_dists_6.2_main_binary-i386_Packages

Update in both files the section "Package: zentyal-antivirus" by replacing all "(= 0.102.2+dfsg-0ubuntu0.18.04.1)" with "(>= 0.102.2+dfsg-0ubuntu0.18

[2020-06-03 21:44] ivosm commented on #1973
This is Duplicate of #1970

[2020-06-03 21:54] sipi58 commented on #1973
Problem isn't fixed.

I made what you recommend and I can install Antivirus and Mailfilter module but I can't start Antivirus...

sudo zs antivirus status
Zentyal: status module antivirus:                       [ STOPPED ]

I try to start:

sudo zs antivirus start
 * Restarting Zentyal module: antivirus

[2020-06-03 23:29] Justinzobel commented on #1970
The antivirus modules isn't installed, it was removed during upgrade to 6.2. The screenshot above was from the Zentyal components section where I was trying to install them.
![image](https://user-images.githubusercontent.com/1370117/83698841-9e787180-a641-11ea-80af-8acdc70b05a2.png)

[2020-06-04 00:07] GlenJ-GH commented on #1970
At this moment the only way I have been able to get the zentyal antivirus and mailfilter packages installed is to download the zentyal-antivirus_6.2.0_all.deb package and edit the 'control' file in there which dictates what versions of clamav are valid then re-package it into a .deb file and install it manually with dpkg.  After that I was able to install the mailfilter through the zentyal dashboa

[2020-06-04 00:08] Justinzobel commented on #1970
@GlenJ-GH I'm in Adelaide and it's freezing here too. But I am willing to wait until an official fix comes in so I can ensure it's all working correctly for future updates, etc.

[2020-06-04 00:10] GlenJ-GH commented on #1970
I am waiting here too.  I have done all this on a VirtualBox setup to take it for a test-drive before I go live with it.

[2020-06-04 08:06] sipi58 commented on #1973
The # 1970 issue (Antivirus module 6.1.3 error)  is not fixed because the antivirus update can be installed but cannot be started. I don't know that this is a new mistake but it is certainly related.

Originally, I also installed the Antivirus module 6.1.3 update on Zentyal 6.1 but the module could not be started. That's why I also upgraded to the Zentyal 6.2 but the Antivirus module cannot be sta

[2020-06-04 08:20] brunolorente commented on #1970
Sorry guys, we released the code but we didn't put the new package into the packages repo. The new package is already uploaded and available for all of you.

Remember to make an apt-get install -f if is needed.

Many thanks for your time!

[2020-06-04 08:55] Justinzobel commented on #1970
Thanks for the fix Bruno, installed smoothly.

[2020-06-04 09:13] ivosm commented on #1970
Yes, now it works. Thanks.

[2020-06-04 09:28] brunolorente commented on #1973
Hi @sipi58, the issue is already fixed, check this out https://github.com/zentyal/zentyal/issues/1970

many thanks for your time!

[2020-06-04 09:28] #1973 closed

[2020-06-04 09:50] sipi58 commented on #1973
Hi brunolorente!

I'm saying exactly that it's not fixed.
The error still persists you cannot start the Antivirus module!

[2020-06-04 10:07] sipi58 commented on #1973
Hi @brunolorente!

I installed new update Antivirus 6.2.1 but the module will not start after the update. I restarted the server but Antivirus will not start after restarting. And I can't start it manually...

sudo zs antivirus status
Zentyal: status module antivirus: [ STOPPED ]

I try to start:

sudo zs antivirus start
Restarting Zentyal module: antivirus [ OK ]

But antivirus not run!

sudo zs

[2020-06-05 11:06] sipi58 opened #1974 "Antivirus 6.2.1 not works properly after update"
After closing the #1970 and #1973 bug reports, the Antivirus 6.2.1 update was released but it not works properly. Antivirus not works.

After the update, the clamav-daemon seems to be running
systemctl status clamav-daemon
● clamav-daemon.service - Clam AntiVirus userspace daemon
   Loaded: loaded (/lib/systemd/system/clamav-daemon.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/

[2020-06-05 15:44] djoven89 commented on #1974
Hi @sipi58 ,

Zentyal runs this command to determine if the daemon is running:

`
systemctl status 'clamav-daemon' | grep 'Active: active (running)'
`

Please, try to do the following steps:

**1.** Disable the Antivirus module.

**2.** Make sure that the daemon 'clamav-daemon' is stopped and disabled. In case it is not, do it yourself.

[code]

**3.** After that, enable the module again through t

[2020-06-05 15:45] djoven89 commented on #1969
Hi @rortega2-github ,

The output that you provided to us is correct.

Could you please check if there is any issue with the table that uses OpenVPN ?

[code]

Best regards, Daniel Joven.

[2020-06-05 17:52] sipi58 commented on #1974
Hi @djoven89 ,

thank you for your advice, I have implemented the suggested actions but nothing has changed...

The clamav-daemon shows FD10 error...
systemctl status clamav-daemon
● clamav-daemon.service - Clam AntiVirus userspace daemon
   Loaded: loaded (/lib/systemd/system/clamav-daemon.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/clamav-daemon.service.d

[2020-06-06 09:01] husisusi opened #1975 "Zentyal 6.2 allow to create multi email address"
**Describe the bug**
Zentyal 6.2 allow to create a new email alias if the email alias already existed in Group.

**To Reproduce**
Steps to reproduce the behavior:
1. Create Group XY
2. add alias jd@mail.com to this group XY
3. Create new user
4. add alias jd@mail.com to this new user
5. done, message "Added alias jd@mail.com"

**Expected behavior**
I Expected message "Address jd@mail.com is alread

[2020-06-06 10:20] husisusi commented on #1974
@sipi58, did you try to uninstall the module restart and install it again?
it works for me.

[2020-06-06 10:36] sipi58 commented on #1974
Hi,

I found strange things... clamav-* default user is clamav by ubuntu package but Zentyal override this to root for run clamav-daemon but clamav-freshclam run by clamav user.

The /run/clamav directory is owned by clamav:root by ubuntu package. The owner can write it  but root group cannot write it. Permission are drwxr-xr-x!

This is because /etc/systemd/system/clamav-daemon.service.d/extend.c

[2020-06-06 13:00] sipi58 commented on #1974
Finally, I tried to remove the Antivirus and Mailfilter module using webadmin.
I was confident that this would safely remove the two faulty modules.
Under webadmin Software Management, Zentyal Components, on the Delete tab, I selected the Antivirus and Mailfilter modules and removed them.
I restarted the server and under webadmin Software Management, Zentyal Components on the Install tab I selecte

[2020-06-06 14:58] sipi58 commented on #1974
I hurried the thing.

While I was trying to test the operation of the Antivirus the webadmin announced that the Antivirus module had stopped.

There is a recurring error in clamav.log:
Sat Jun  6 16:40:25 2020 -> Client disconnected (FD 10)

What's happening? Make hopping mad...

Please help me...

[2020-06-06 18:15] rortega2-github commented on #1969
mysql -u root -p$(cat /var/lib/zentyal/conf/zentyal-mysql.passwd) zentyal -e "show tables;"
mysql: [Warning] Using a password on the command line interface can be insecure.
+-------------------+
| Tables_in_zentyal |
+-------------------+
| audit_actions     |
| audit_sessions    |
| firewall          |
| firewall_report   |
| leases            |
| openvpn           |
+-------------------+

mysqlc

[2020-06-06 19:14] sipi58 commented on #1974
Reinstall...

[2020-06-06 19:14] #1974 closed

[2020-06-07 01:05] raskery opened #1976 "Short description"
**Describe the bug**
I am trying to setup Zentyal with ZFS. I have three Ironwolf 4TB drives. I use the procedure and zfs install script [here](https://github.com/saveriomiroddi/zfs-installer). I can successfully install Ubuntu Server on a raidz setup with the three drives and the Ubuntu Server live CD (18.04.4). I proceed to do a manual install of Zentyal using the INSTALL script as per the docum

[2020-06-07 08:46] raskery commented on #1976
Could this be related to the changes in #1903?

[2020-06-07 14:34] zentyal-scottdr opened #1977 "Text file for latest version of 6.2.0 missing at URL http://update.zentyal.org/last-6.2.txt"
**Describe the bug**
Due to the above text file not being published, Dashboard displays that a update is available, even though latest version is installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Webadmin Desktop'
2. View  General Information widget and Core version, displays "6.2.0 ( available)

**Expected behavior**
A clear and concise description of what you expected to ha

[2020-06-08 14:46] djoven89 commented on #1972
Hi @wirdo89 ,

Please, use the provided template when you're going to open a new issue.

I'm going to close this, I'll be pendinng of you to check this on a new "well formed" ticket.

Best regards, Daniel Joven.

[2020-06-08 14:46] #1972 closed

[2020-06-09 18:41] brunolorente commented on #1977
Hi @zentyal-scottdr
The issue has been fixed, also, a new version of Zentyal core is available.

Many thanks for your time!

[2020-06-09 18:41] #1977 closed

[2020-06-09 21:48] zentyal-scottdr commented on #1977
👍

________________________________
From: Bruno Lorente <notifications@github.com>
Sent: 09 June 2020 19:41
To: zentyal/zentyal <zentyal@noreply.github.com>
Cc: Don R. Scott (Holbeach Computing Solutions) <don.scott@holbeachcomputing.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [zentyal/zentyal] Text file for latest version of 6.2.0 missing at URL http://update.zentyal.org/last-6.2.tx

[2020-06-10 02:17] rortega2-github commented on #1977
I wanted to comment, in order to see 6.2.1 I had to do:
as root echo 6.2.1 > /var/lib/zentyal/latestversion

[2020-06-11 16:21] djoven89 commented on #1975
Hi @husisusi ,

We have confirmed the bug, we have added it to the roadmap.

Thank you for reporting it.

Best regards, Daniel Joven.

[2020-06-11 16:22] djoven89 commented on #1971
Hi @mado987 ,

We have tried to reproduce it but we couldn't.

Did you analyze the log file '**/var/log/syslog**' ? Concretely, you should take a look at the following records:

* isc-dhcp-server
* tftp

Best regards, Daniel Joven.

[2020-06-13 23:14] rubenszolt opened #1978 "zentyal-core issue after libssl install"
**Describe the bug**
zentyal-core issue after libssl install

**To Reproduce**
Steps to reproduce the behavior:
1. Update all packages
2. but after libssl package update it receive the next error:
See error:
dpkg: cycle found while processing triggers:
 chain of packages whose triggers are or may be responsible:
  zentyal-core -> zentyal-core -> zentyal-core
 packages' pending triggers which are o

[2020-06-18 14:13] wirdo89 opened #1979 "Commercial backup adding /root/ in front of path without having it configured."
**Describe the bug**
Zentyal backup adds /root/ to the path when using rsync. Qnap doesn't have anything in /root/ which makes the operation fail.

Attempt 4 failed. BackendException: Error running 'rsync -e 'ssh -oBatchMode=yes ' admin@XXXXXXXX:share/MD0_DATA/zentyal/': returned 23, with output:

rsync: change_dir "/root/share/MD0_DATA/zentyal" failed: No such file or directory (2)
rsync error: s

[2020-06-19 02:52] seederp2p opened #1980 "Zentyal not updating reverse lookup Zone"
On your Windows domain machine do on a CMD ipconfig /registerdns.

A Record will be updated correctly.

Reverse record will NOT.

In my example my workstation is 192.168.21.41 / 24
however in the syslog it shows up this:

client @0x7f2754100c10 192.168.21.41#50367: updating zone '168.192.in-addr.arpa/IN': update failed: not authoritative for update zone (NOTAUTH)

The correct zone should be 21.168

[2020-06-19 20:29] mrPsycho opened #1981 "Self-healing domain."
**Is your feature request related to a problem? Please describe.**
Can't understand what may be possible problem, that new computers can't be added to domain.

**Describe the solution you'd like**
Would be cool to have some basic self-cheking solution, that built-in features are working as expected.

**Describe alternatives you've considered**
nothing found, atm.
there is a way to dig into modules

[2020-07-05 03:48] Neustradamus commented on #1971
@mado987: Any news?

[2020-07-05 03:51] Neustradamus commented on #1954
@kahootali: It is not solved?
Can you confirm?

[2020-07-05 03:57] Neustradamus commented on #1943
@brunolorente, @djoven89: Any news?

[2020-07-05 04:01] Neustradamus commented on #1822
@brunolorente, @djoven89: Any news?

[2020-07-06 02:31] killmasta93 commented on #1943
what i did is use the editor ADSI after that it works but have to try it manually

[2020-07-06 06:49] unquietwiki commented on #1822
@Neustradamus : my Perl skills are notably absent, and I don't have a current job or decent HomeLab ATM, else I'd dive into this further than I already have. Tried asking on Reddit for help; crickets.

[2020-07-09 08:27] vjmartins opened #1982 "Dashboard : VPN missing client connections"
**Describe the bug**
Don't see client connections in dashboard

**Screenshots**
![VPN_ERROR](https://user-images.githubusercontent.com/827692/87016168-41368980-c1c6-11ea-82ac-4de165bd1eee.png)

**Zentyal OS
 - Version: 6.2.3

[2020-07-09 20:23] kahootali commented on #1954
@Neustradamus Sorry, I stopped working on this and this setup is now Paused, so i couldn't test it, can't confirm. You can either close it and if this issue occurs again, i will re-open it

[2020-07-10 06:34] mado987 commented on #1971
sorry for my silence ... I was fully busy with a lot of other stuff and I confess that I have since restarted with a fresh installation and changes in my network configuration.
This concern doesn't exist anymore, I have suspected a  2th dhcp server in my network or other network misconfigurations ...
It's indeed difficult to reproduce because that's doesn't arise imediatly afther a restart.
Let's

[2020-07-14 12:55] vesb opened #1983 "DHCP dual efi and non-efi architecture PXE boot"
Recently I was trying to setup a home PXEBoot server via Zentyal and found that you can only use a single `filename` in `DHCP->Advanced options->Thin Client->File path`. Due to the fact that I have both old non-efi and new efi machines I had to modify `/usr/share/zentyal/stubs/dhcp/subnet.mas` to append `.efi` to `filename` when architecture of dhcp client is efi one (`if option architecture = 00:

[2020-07-15 17:30] brunolorente commented on #1971
Ok @mado987 many thanks for your time!

[2020-07-15 17:30] #1971 closed

[2020-07-15 17:32] brunolorente commented on #1954
many thanks thanks for your time @kahootali and @Neustradamus !

[2020-07-15 17:32] #1954 closed

[2020-07-15 17:38] brunolorente commented on #1962
@vnavna01 I'm going to close the issue in order to continue in #1976

[2020-07-15 17:38] #1962 closed

[2020-07-16 03:16] Neustradamus commented on #1954
@brunolorente: Solved?

[2020-07-18 08:57] unquietwiki opened #1984 "CODE QUALITY: look into using Nim as a replacement for older Perl code"
A number of existing issues are held up by a lack of experience with folks using Perl. It might be worthwhile to look into using Nim as an alternative; it supports syntax folks from Python & Javascript use now, and it compiles with a C backend. As someone who's been moderating [r/altprog](https://www.reddit.com/r/altprog/), it's the most active "alternative" language I'm aware of ATM.

* https://n

[2020-07-18 08:59] unquietwiki commented on #1822
#1984 filed to try to help with this.

[2020-07-21 14:38] djoven89 commented on #1983
Hi @vesb ,

It sounds great. You can either create a PR or just explain us how you configured the DHCP stub, then, we will analyze the changes and we will add it to the roadmap.

Thank you for contributing!

Best regards, Daniel Joven.

[2020-07-21 14:47] djoven89 commented on #1978
Hi @rubenszolt ,

Unfortunately, sometimes the packages aren't installed properly when the server is updated, and it requires to fix those broken packages manually (like your case). You just need to run the following command:

[code]

**NOTE:** Depending of the number of broken packages, the above command needs to be executed more than once.

Best regards, Daniel Joven.

[2020-07-21 14:47] #1978 closed

[2020-07-21 16:03] vjmartins commented on #1982
Hi @djoven89

/var/log/zentyal/zentyal.log returns:

[2020-07-21 17:31] rubenszolt commented on #1978
Thanks Daniel, I know how I can resolve, not this is the question, And it is very interesting that you cannot reporoduce this issue,  because on my all (10) servers aparead on all 5 és 6 versions. The problem is the zentyal-core, because of this libssl it cannot configuring, and is broken. On zentyal forum anothers it have the same issue please investigate because it is very easy to close.

[2020-07-30 06:23] plimut opened #1985 "Unable to join existing domain"
When trying to join zentyal into a Windows domain as a secondary domain controller, I get the error:

============================================
2020/07/28 11:40:14 ERROR> GlobalImpl.pm:653 EBox::GlobalImpl::saveAllModules - Failed to save changes in module samba: root command samba-tool domain join ***.loc DC  --username='zentyal'  --workgroup='***'  --password=`cat /var/
lib/zentyal/tmp/7SC7CA

[2020-07-30 08:29] RaNd250 commented on #1845
Had the same issue, with 6.0, 6.1 and 6.2.
It turns out that my domain was upgraded from 2003 to 2008R2 and the 2003 level has some changes with the DNS.
I've read somewhere that previous versions of Samba are working fine, so I used Zentyal 5.1 to join the domain with success!!

Right now I'm upgrading from 5.1 to 6, to see if samba is still operational.

[2020-08-06 16:03] Holmesware opened #1986 "Random Crash, read-only filesystem"
I was unable to submit a bug report via the crash page in the Zentyal web interface so I copied and pasted the error into the attached text file.
This issue began happening when I ran the Smart Admin report and it gave me a Kerberos error. (see bottom of attached file)
I've included my configuration files.
I have a primary and secondary Zentyal domain controllers on 2 seperate networks.
Both machi

[2020-08-07 07:10] #1986 closed

[2020-08-07 12:02] lucioalvestoledo commented on #1872
Eu tenho o mesmo problema!
Baixei a ultima versão do Zentyla , e já reinstalel 3 vezes, e no final sempre o mesmo resultado....
1 Intalação limpa seguida da instalação do modulo FTP quebra o sistema deixando o Dashboard inutilizável.

Percebi que ele coloca a interface eth0 em down e remove as configurações de endereçamento IP.
Difícil prosseguir com testes diante de um problema tão grave e que nã

[2020-08-07 15:54] carlos-mora commented on #1872
They couldn't reproduce it, what is weird. Many people found the same issue. May be there is no problem if you install other packages or whatever. Brunolorente blame to "broken packages", I don't know where to find good, not broken packages. The one you download from Zentyal is broken that's clear.

[2020-08-12 11:30] silid opened #1987 "Service Certificates should include DNS Subject Alternative Name"
**Is your feature request related to a problem? Please describe.**
The web admin interface isn't trusted by modern browsers even after importing the Authority Certificate.
This is because the service certificate hasn't included a Subject Alternative Name.

**Describe the solution you'd like**
When the Service Certificate is generated it should include the DNS Subject Alternative Name that matches

[2020-08-12 13:12] Holmesware commented on #1987
I understand. Thanks.

Sent from my BlackBerry - the most secure mobile device - via the Bell Network
From: notifications@github.com
Sent: August 12, 2020 4:30 AM
To: zentyal@noreply.github.com
Reply-to: reply@reply.github.com
Cc: subscribed@noreply.github.com
Subject: [zentyal/zentyal] Service Certificates should include DNS Subject Alternative Name (#1987)

Is your feature request related to a p

[2020-08-13 09:41] vahursuvi opened #1988 "Unable to install Zentyal Squid"
**Describe the bug**
Hi
Its impossible to install Zentyal Squid. I have same problem with two machines - so I am filling this bug report. Installing zentyal-squid ends with error:
1 not fully installed or removed.
After this operation, 0 B of additional disk space will be used.
Do you want to continue? [Y/n] y
Setting up zentyal-squid (6.2.0) ...
Can't use an undefined value as an ARRAY reference

[2020-08-26 16:47] alanmarconcin opened #1990 "ERROR CONSOLE"
**Describe the bug**
Erro ao acessar a console

![image](https://user-images.githubusercontent.com/33225024/91332493-a65c3380-e7a2-11ea-8d6f-1a93e838add9.png)

[2020-08-28 14:46] djoven89 commented on #1988
Hi @vahursuvi  ,

I couldn't reproduce this issue. I installed the Proxy module in two different environments and in both cases, the module was installed correctly. Below you have the two environments that I configured to tried to reproduce this issue:

**1.** In a very basic environment with only the '**Network**' and '**Firewall**' modules installed and configured.

**2.** In an advance environm

[2020-08-28 14:52] djoven89 commented on #1990
Hi @alanmarconcin ,

That is a normal message, you get it when you don't do any action in the windows after a while (inactive session).

Also, please, for future reports, remember to use the template to create a bug/enhancement.

Best regards, Daniel Joven.

[2020-08-28 14:52] #1990 closed

[2020-09-01 13:08] mariojsantos commented on #1963
Hi.
I'm facing the same issue. Zentyal 6.1 trying to join to Windows Server 2008, funcional level 3

[2020-09-10 09:29] brunolorente commented on #1984
Hi @unquietwiki

We are ending the roadmap for the new release (in one or two months...).
I'll check this out this weekend.

Best regards!

[2020-09-10 09:31] brunolorente commented on #1981
Hi @mrPsycho

Sorry but we cannot reproduce this issue... could you please give us some more feedback? (syslog, samba log, zentyal log...)

[2020-09-10 09:34] brunolorente commented on #1965
Hi @CarBee ,

Could you please re-create the issue using the provided issue template?

Many thanks for your time!

[2020-09-10 09:34] #1965 closed

[2020-09-10 10:06] brunolorente commented on #1872
Hmmm... reviewing closed issues I found this, this isn't already an isolated issue. I'll assign to my mate @djoven89 from the QA team in order too check this out.

To clarify the situation... usually, once an issue is closed, I never read it again... so I didn't try the issue. I mean, we use Zentyal everyday with the FTP module (and others) enabled, I've never had a problem with it, so... I tried

[2020-09-10 11:53] CarBee opened #1991 "Can Zentyal support Master , Master configuration?"
**Is your feature request related to a problem? Please describe.**
When the PDC is down the Secondary cannot be made as a primary one. There are instances where we cannot get a backup of configurations and cannot restore the PDC. Please let us know how we could able to proceed. Or can this be cluster enabled?

**Describe the solution you'd like**
When the PDC is down the Secondary cannot be made a

[2020-09-10 18:23] unquietwiki commented on #1984
Thanks @brunolorente

[2020-09-11 20:52] anunci89 commented on #1945
Wireguard its a kernel VPN its generic.
and very simple and transparent.

-> https://github.com/burghardt/easy-wg-quick

[2020-09-16 21:12] Opensoftwarecr commented on #1880
Hello,
I just installed Zentyal version 6.2 and I have the same error, pppoe does not work. Even modifying the trycatch instruction

[2020-09-16 23:30] tomasz89 commented on #1880
Can you please provide the logs so we can see the results of what's going on?

[2020-09-18 13:41] mariojsantos commented on #1963
Hi again.
Updating:
- In my cenario the Zentyal server IP was set to a local address. Once I changed for a public IP the error desappears.

[2020-09-22 10:58] djoven89 commented on #1872
Hi @carlos-mora ,

After several tests in our environment, we have reproduced the issue and Developers Team have add it to the roadmap.

Best regards, Daniel Joven.

[2020-09-25 14:28] jmglara83 commented on #1990
Hello, but the same thing happens to me, but it is not due to inactivity, since I installed it for the 5 time to Zentyal it is always the same, I get tired of being bothered by this error, because apparently several people are unaware of it.
Use the option to use a KVM manager.
Everyone asks where they can, so someone with good knowledge helps you. Guide does not scold.

[2020-09-29 14:37] HikariKnight commented on #1983
I made a .mas for this exact thing earlier this year that i have been testing out with good success on my FOG server that provides the PXE images, you are all free to use it and integrate it into the codebase as i have no idea how to integrate it into the frontend itself so my pxeboot.mas currently has the bios/legacy bootfile hardcoded and the efi bootfile be the one set by the frontend.
https://

[2020-09-29 14:46] HikariKnight commented on #1930
@brunolorente @iotaka i already made a file for it that can be put into /etc/apparmor.d/ which will grant the right apparmor access permissions to the files that the dynamic dns is lacking.
[code]

[2020-09-30 13:59] Zyzto opened #1992 "Can't access shared folder without mapping"
**Describe the bug**
I can't access the shared folder without mapping in it first to the device on Windows 10/7

**To Reproduce**
Steps to reproduce the behavior:
1.enable sharing
2.make one shared folder
3.acl give access
4.on windows in windows explorer file manager type //zentyal.domain/sharename

**Expected behavior**
To be able to access without mapping the drive first

**Zentyal OS (please c

[2020-10-01 15:04] AurelienBROSIUS commented on #1880
I have the same problem on zentyal 6.2

I uncommented defaultroute from the /usr/share/zentyal/stubs/network/dsl-providers.mas file
and create a firewall.postservice file in / etc / zentyal / hooks containing "iptables -t nat -A POSTROUTING -o ppp0 -j MASQUERADE"

If I go to the web interface and save the network module, the pppoe connection works but an error appears on the network module. If I r

[2020-10-12 16:44] ProBackup-nl opened #1994 "Configuration report date is 1970-01-01 01:00:00"
**Describe the bug**
Configuration report date is set to `1970-01-01 01:00:00`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'System'
2. Click on 'Configuration backup'
3. Scroll down to 'Configuration Report'
4. Click on 'Generate and download report file'
5. Extract the downloaded file
6. Have a look at file `eboxbackup\date` (19 bytes)

**Expected behavior**
The real backup date

[2020-10-13 16:22] ProBackup-nl opened #1995 "Documentation: reference to Appendix A: returns page without content"
**Describe the bug**
Documentation https://doc.zentyal.org/en/appendix-c.html#id6 refers to "Appendix A: Test environment with VirtualBox" which links to the empty page https://doc.zentyal.org/en/appendix-a.html#virtualbox-ref

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://doc.zentyal.org/en/appendix-c.html#id6'
2. Click on 'Appendix A: Test environment with VirtualBox'
3. Se

[2020-10-21 12:16] djoven89 commented on #1995
Hi @ProBackup-nl ,

Thank you for reporting the issue, we have confirmed it and added it to the roadmap.

Best regards, Daniel.

[2020-10-21 12:48] djoven89 commented on #1992
Hi @Zyzto ,

I have tried to reproduce your issue in a clean Windows 7 and everything worked as expected. I tried with a Windows 7 joined to the Domain Controller and other Windows 7 machine which doesn't belong to the Domain Controller, and both cases worked correctly.

Which error/message do you get?

Finally, I suppose it is a typo but the path should be '**\\\zentyal.domain\sharename**'

Best

[2020-10-22 11:06] Zyzto commented on #1992
@djoven89

the issue was I couldn't access it through direct path, and I think yes I made typo :D.

I tried it on both win10/7. maybe it's my local setup.
I didn't think of trying one outside the domain but it works from outside. if Input `\\<domainIP>\<sharename>`.
so I did it with ip cause it's not on the same dns.

so I thought why not use the IP even tho it resolves domain name, and guess what

[2020-10-22 14:51] ethanjosephscott opened #1997 "Zero Logon Vulnreability"
Hey Gang.

I have applied the Zero Logon Vulnerability patch to my own servers, but I was wondering if the Zentyal team could put these changes into play as well.  I have included a link that covers the affected versions, and config fixes for Zentyal's version of samba.

Thank You

https://access.redhat.com/articles/5435971

[2020-10-23 14:33] djoven89 commented on #1992
Hi @Zyzto ,

Instead of use the domain name, could you please try with the FQDN of the server? Something like: `\\zentyal.somedomain.lan\\test`.

Best regards, Daniel Joven.

[2020-10-24 09:14] Zyzto commented on #1992
it worked, this is the solution. I tried also `\\zentyal\test` alone and it worked

[2020-10-25 20:48] #1992 closed

[2020-10-31 19:41] metzgerd commented on #1976
I've the same issue during the ISO image installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Installer tries to get the IP address via DHCP and get a timeout (correct -> no DHCP configured)
2. Afterwards I get asked for manual configuration
3. Next step is to assign the server name. Somehow it skipped the manual configuration of the interface.

**Zentyal OS:**

    Version: 6.2

[2020-11-02 17:25] chapderprinz opened #1998 "Dashboard Widgets are gone and can not be restored"
After update to Zentyal Version 6.1 last year i missed all the dashboard widgets. Update to Zentyal 6.2 does not change anything.

Behavior:
- click on widget configuration
- click on system information
- drag a widget, module status for example, to the dashboard
- widget opens until i release the mouse button. When i release the mouse buttton the dashboard is still empty

So i can't position any

[2020-11-04 10:27] djoven89 commented on #1997
Hi @ethanjosephscott ,

Thank you for reporting this Vulnerability.

Developers Team have informed us that they already knew about this CVE, however developers team considered that this is a system administrator task. The recommended solution by Samba team could cause some issues in certain environments. Also, the CVE can be fixed applying a certain setting.

Thank you again for your contribution.

[2020-11-05 03:02] Neustradamus commented on #1880
@brunolorente @djoven89: Can you look comments? There is a problem...

[2020-11-05 03:04] Neustradamus commented on #1990
@brunolorente, @djoven89: Can you look the last comment?

[2020-11-05 03:06] Neustradamus commented on #1945
@brunolorente, @djoven89: Can you change your vision and add this feature?

[2020-11-05 03:07] Neustradamus commented on #1965
@brunolorente, @djoven89: Have you looked: https://github.com/zentyal/zentyal/issues/1991?

[2020-11-07 11:00] metzgerd commented on #1976
My issue is related to the use of the german language. Using english as language for the installer everything is ok.

[2020-11-11 15:58] #1997 closed

[2020-11-11 23:20] Neustradamus commented on #1976
@metzgerd: Hope it will help @brunolorente, @djoven89...

[2020-11-19 15:39] husisusi commented on #1873
If someone looking for fix,
Just stop winbind and run:
`sudo dpkg --configure -a`

[2020-12-08 09:23] devlin7 opened #2006 "Able to delete a running virtual machine without confirmation"
IPossible to delete a running virtual machine
The Virtualisation management option is a little simple. The STOP and DELETE icons are a little confusing. I managed to delete to running working virtual machines without any form of prompt "Do you really want to delete this virtual machine" for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Virtual Machine
2. Under the "Actions"

[2020-12-12 21:14] Neustradamus commented on #1822
@brunolorente, @djoven89: Any news about IPv6?
It is really important...

[2020-12-12 21:18] Neustradamus commented on #1998
@brunolorente, @djoven89: Have you progressed on this issue?

[2020-12-12 21:20] Neustradamus commented on #1994
@ProBackup-nl, @brunolorente, @djoven89: Please look the PR: #2004.
Thanks to @flopezgr.

[2020-12-12 21:23] Neustradamus commented on #1976
@brunolorente, @djoven89: Have you looked this problem?

@metzgerd has said: "My issue is related to the use of the german language. Using english as language for the installer everything is ok."

[2020-12-12 21:24] Neustradamus commented on #2006
@brunolorente, @djoven89: Have you looked this problem?

[2020-12-14 11:41] brunolorente commented on #1994
Hi @ProBackup-nl,

The format is correct, the PR #2004 fix the issue.

On the other hand, the issue format you followed is OK, you just need to "follow" the issue template.

Many thanks for your time!

[2020-12-15 11:05] RomyxBaps opened #2007 "Export users/groups from Zentyal 5.0"
Hello everyone,

I need to export all the users/groups from a Zentyal Server in 5.0 Version.
I need at least Username, Name, LastName, Password (encrypted ?), Groups.

Is it possible to have a tool to do that ? I tried a lot of things but none really works.
The best was pdbedit but when i import the file, i have an error saying :
`build_sam_account: smbpasswd database is corrupt!  username uer wit

[2020-12-17 12:01] RomyxBaps commented on #2007
I saw there are some script but for v6 and i'm on the v5.
Is there scripts for this version to export user without password will be still great.

[2020-12-20 01:20] Neustradamus opened #2008 "Update of Samba"
Can you update Samba?
- https://www.samba.org/
- https://www.samba.org/samba/latest_news.html

L.P.H. van Belle is an important and serious Samba guy with quality, you can look on samba ML
- https://lists.samba.org/archive/samba/

Explanation for repos:
- https://lists.samba.org/archive/samba/2020-September/232145.html

Links:
- https://www.van-belle.nl/
- http://apt.van-belle.nl/
- https://apt.va

[2020-12-20 01:59] Neustradamus opened #2009 "Update of ejabberd"
Can you update ejabberd?
- https://www.ejabberd.im/

20.07 or better 20.12:
- https://tracker.debian.org/pkg/ejabberd

Thanks in advance.

[2020-12-20 02:01] Neustradamus commented on #1944
@brunolorente, @djoven89: Any news before new release?

[2020-12-20 02:01] Neustradamus commented on #1917
@brunolorente, @djoven89: Any news before new release?

[2020-12-20 02:02] Neustradamus commented on #1901
@brunolorente, @djoven89: Any news before new release?

[2020-12-20 02:02] Neustradamus commented on #1838
@brunolorente, @djoven89: Any news before new release?

[2020-12-20 02:07] Neustradamus commented on #1899
@brunolorente, @djoven89: Any news before new release?

[2020-12-20 02:09] Neustradamus commented on #1842
@KOV70: Please update this ticket name by:
Ejabberd and shared_roster

And the second one: https://github.com/zentyal/zentyal/issues/1899
Ejabberd and shared_roster - part 2

Thanks in advance.

[2020-12-20 02:11] Neustradamus commented on #2007
@brunolorente, @djoven89: Can you help @RomyxBaps?

I think that the goal is to export data and import after in a new version...

[2020-12-20 11:06] RomyxBaps commented on #2007
Hello @Neustradamus yes it one of the reasons.
Have a backup specillay for the users/groups is another.

[2020-12-21 22:41] rubenszolt opened #2010 "zentyal-core issue after libssl1.1 openssl install"
Describe the bug
zentyal-core issue after libssl1.1 openssl install

To Reproduce
Steps to reproduce the behavior:

    Update all packages

2020-12-21 23:19:14> Zentyal apt-wrapper install started
2020-12-21 23:19:14> Reading package lists...
2020-12-21 23:19:15> Building dependency tree...
2020-12-21 23:19:15> Reading state information...
2020-12-21 23:19:16> The following packages will be upgra

[2020-12-22 01:04] Neustradamus opened #2011 "Let’s Encrypt support (new time)"
Can you add the Let’s Encrypt support?
- http://letsencrypt.org/

It was not added.

Linked to:
- https://github.com/zentyal/zentyal/issues/1836

[2020-12-22 01:04] Neustradamus commented on #1836
@brunolorente, @djoven89: Can you reopen this unsolved ticket?

[2020-12-23 07:05] djoven89 commented on #2007
Hi @RomyxBaps ,

You can use the scripts from Zentyal 6 to export all the domain users and groups, however, sorry to inform you that the passwords are not exported.
If you want to use the scripts, [here](https://raw.githubusercontent.com/zentyal/zentyal/master/main/samba/src/scripts/groups-export.pl) you have the link to the script for domain groups, and [here](https://raw.githubusercontent.com/ze

[2020-12-23 07:21] djoven89 commented on #1998
Hi @chapderprinz ,

Which messages do you get in the log file '**/var/log/zentyal/zentyal.log**' when you try to add the widgets?

Best regards, Daniel Joven.

[2020-12-23 07:24] #1988 closed

[2020-12-23 09:38] djoven89 commented on #2006
Hi @devlin7 ,

You're right, that action should have a confirmation message. We have added this feature to the roadmap.

Thank you for reporting this behaviour.

Best regards, Daniel Joven.

[2020-12-23 10:33] RomyxBaps commented on #2007
Hi,
Okay, i will try. Thank you for the help :).

[2020-12-23 12:14] chapderprinz commented on #1998
Hi Daniel,

Trying to add widgets to the dashboard does **not** generate any entry in the log file /var/log/zentyal/zentyal.log

The only files, which are changed while trying to add widgets, are the access.log and the uwsgi.log. You will find those files with the last entryies (login -> try to add widgets -> logout) in the attachment.

[access.log](https://github.com/zentyal/zentyal/files/5735043

[2020-12-23 15:51] djoven89 commented on #1998
Hi @chapderprinz ,

After some tests I could reproduce the bug. We have added it to the roadmap.

Thank you for reporting the bug.

Best regards, Daniel Joven.

[2020-12-27 20:00] rubenszolt commented on #2010
I tried to update libssl1.1 openssl on another 3 servers but the issue is same.

[2020-12-28 05:38] Neustradamus commented on #1908
@brunolorente, @djoven89: Do not forget.

[2020-12-28 21:45] rubenszolt commented on #2010
I tried it on a fourth server, where I update first to latest zentyal-core 6.2.5 and zentyal-ca 6.2.1, but the error is same.

[2021-01-02 19:04] maarten256 opened #2012 "Recent change to nginx.conf.mas breaks webadmin"
**Describe the bug**
In zentyal-core 6.2.5, a change was delivered to main/core/stubs/nginx.conf.mas. This caused webadmin to stop working with a certificate error:

nginx[4584]: nginx: [emerg] SSL_CTX_use_PrivateKey_file("/var/lib/zentyal/conf/ssl/ssl.key") failed (SSL: error:0B080074:x509 certificate routines:X509_check_private_key:key values mismatch)

I manually changed nginx.conf.mas from:

[2021-01-02 21:46] djbeauchamp commented on #2011
I was also disappointed that lets encrypt support didn't get baked into the CA Module this version

[2021-01-03 02:20] Neustradamus commented on #2012
@maarten256, @brunolorente, @djoven89: It is linked to:
- https://github.com/zentyal/zentyal/blob/master/main/core/stubs/nginx.conf.mas#L115

And there are:
- https://github.com/zentyal/zentyal/blob/master/main/virt/src/scripts/certconf#L5
- https://github.com/zentyal/zentyal/blob/master/main/virt/src/scripts/certconf#L10